/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; z-index: 1;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; z-index: 1;}
ul.dropdown a:hover		            { color: black; }
ul.dropdown a:active                { color: black; }
ul.dropdown li a                    { display: block; padding: 1px 5px; border-right: 1px solid #333;
	 								  color: #222; z-index: 1;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 80px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 1;}
ul.dropdown ul li 					{ font-weight: normal; background: #F3D673; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; z-index: 1;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; z-index: 1;} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; z-index: 1;}
ul.dropdown li:hover > ul 			{ visibility: visible; z-index: 1;}