							/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/
							/*+++++++++++++ESTRUCTURA GENERAL PANTALLAS+++++++++++*/
							/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++COMPONETES GENERALES ++++++++++++++++++*/

*{margin:0;padding:0;border:0;list-style-type:none; font: normal 11px Verdana, Arial, Tahoma, Helvetica, sans-serif; color:#000000;}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html{overflow-x: hidden; overflow-y: hidden;} /*sólo se muestran los scroll cuando son necesarios*/
body{width: 240px; height:320px; background: white;}
label {padding:1px; vertical-align: middle}
input, textarea{border:1px solid #888888;}
input[type="text"],input[type="radio"],input[type="checkbox"],input[type="password"] {color: #000000; font: normal 1em; vertical-align: middle; padding: 2px;}
input[type="radio"],input[type="checkbox"] {border:0 !important;}
select, option{background:transparent}
select, option{padding:0px;border:1px solid #888888;  vertical-align: middle}
fieldset{width:100%;float:left;margin: 0px 0px 5px 0px;padding: 0px 0px 5px 0px;border:1px solid #d2d2d2;}
legend{padding:0 0;margin:0px 15px;font-weight:bold;font-size:100%}
a{outline:none;color:#0000FF; cursor: pointer; text-decoration: underline;}
a:hover{color:#084B8A !important;text-decoration:underline !important}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{text-decoration:none;color:#666}
h2, h3, h4, h5, h6{margin:0 0 12px;font:bold 1em Tahoma;color:#666}
h2{font:normal 2.1em Trebuchet MS; }
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1.1em}
h6{font-size:1em}
dl{display:none}

table{margin:0px 0;border-collapse:separate;border-bottom:0px solid #898989}
th, td{padding: 0px}
th{border-bottom:1px solid #898989;border-left:1px solid #fbfbfb;font-size:1em;color:#000000}
td{border-bottom:0px solid #000000;color:#000000;font:11px Verdana,Arial,Tahoma,Helvetica,sans-serif;}

hr{width:100%;clear:both;height:1px;margin:15px 0 20px;border:0;background:#c6c7c9;color:#c6c7c9}
acronym, abbr{cursor:help;border:0;border-bottom:1px dotted #c6c7c9}
blockquote, cite{cursor:auto}
blockquote{margin:10px 0 0}
blockquote p{color:#b6bc1d;font-size:1.2em}
code{}
address{display:inline;font-style:normal}
kbd{line-height:2em;font:normal .8em "Lucida console", Courier, monospace;border-top:.15em solid #ccc;border-right:.25em solid #aaa;border-bottom:.3em solid #888;border-left:.2em solid #bbb;padding:.05em .2em;margin:0 1.5px;color:#000;background:#eee;vertical-align: text-bottom;cursor:help}

dfn{}
p{margin:0 0 10px;line-height:1.5em}

/* ---- Formato de las etiquetas de los campos ---- */
.etiquetaTitulo {font-size:1.2em; font-weight:bold;text-align: left; margin-left: -15px; margin-bottom: 35px;}
.etiquetaCampo { text-align: right; margin-right: 1px; vertical-align: middle;}
.etiquetaCampoConMargenIzdo { text-align: right; margin-left: 25px; margin-right: 1px; vertical-align: middle;}
.etiquetaCampoNegrita { text-align: right; margin-right: 1px; vertical-align: middle; font-weight:bold;}
.etiquetaCampoNegritaReducido { text-align: center; margin-right: 1px; font-size:0.9em; vertical-align: middle; font-weight:bold;}
.etiquetaCampoVertical {margin-bottom: 3px; text-align: center;}
.etiquetaCampoVerticalNegrita {margin-bottom: 3px; text-align: center; font-weight:bold;}
.valorCampo { text-align: left; margin-right: 1px; vertical-align: middle; font-weight: normal;}
.valorCampoResaltado { text-align: left; margin-right: 1px; vertical-align: middle; font-weight: normal; color: red;}
.etiquetaEnlaceDeshabilitado {text-align: right; vertical-align: top; font-weight:bold; font-size: 10px;}

/* ---- Formato de los botones de la aplicacion ---- */
.boton {display: inline-block; position: relative; background: #e2e2e2;
		padding: 2px 2px;
		font: normal 1em;
		text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.botonHover:hover{
	color: #08088A;
	text-decoration: none;
	background: #d3d3d3; /*#e6e6e6;*/
}
.botonFormulario {float:left; background: #e2e2e2;
		padding-top: 0px; padding-bottom:0px; padding-left:2px; padding-right:2px;
		font: normal 1em; height: 16px;
		text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */

.botonBotonera {width: 50px; display: inline-block; background: #e2e2e2;
		padding: 2px 2px;
		font: normal 1em;
		text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.botonBotoneraGrande {width: 100px; display: inline-block; background: #e2e2e2;
		padding: 2px 2px;
		font: normal 1em;
		text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */

/* ---- Formatos de INPUTS de la aplicacion ---- */
.input0{width: 0px}
.input15{width: 15px}
.input20{width: 20px}
.input40{width: 40px}
.input50{width: 50px}
.input65{width: 65px}
.input70{width: 70px}
.input75{width: 75px}
.input85{width: 85px}
.input90{width: 90px}
.input100{width: 100px}
.input115{width: 115px}
.input120{width: 120px}
.input125{width: 125px}
.input135{width: 135px}
.input140{width: 140px}
.input150{width: 150px}
.input175{width: 175px}
.input190{width: 190px}
.input200{width: 200px}
.input225{width: 225px}
.input250{width: 250px}
.inputResaltado{border:1px solid #FF0000;}
.inputEditable{border:1px solid #0000FF;}
.inputSinBorde {border-width: 0;}

/*+++++++++ENCABEZADO DE LAS PAGINAS++++++++*/
#marco        {background-color: white; height:313px; width: 238px; position: absolute; margin: auto;  border: 1px solid white;
			   font: normal   Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#cabecera     {background-color: white;  height: 52px;	width: 236px; position: absolute; border-bottom: 1px solid #7A7878; margin: 0 auto;z-index:1;}
#cabeceraLogin {background-color: white;  height: 44px;	width: 236px; position: absolute; margin: 0 auto;}
#LogoLogin    {background-color: white; height: 50px;	text-align: left;  left: 0; padding: 15px; float: left;}
#Logo2Login   {background-color: white; float: left; height: 50px; margin-left: 82px; padding-left: 15px; padding-top: 15px; text-align: right;}
#LogoCerrarLogin {background-color: white; height: 20px; text-align: right; right: 0; float: right; z-index:1;}
#Logo         {background-color: white; height: 20px; float: left; text-align: left;}
#LogoCerrar   {background-color: white; height: 20px; float: right; text-align: right; right: 0; z-index:1;}

#pda_p01_datosCentro {background-color: white; float: left; margin-top: 4px; margin-right: 3px; text-align: left; z-index:1; height: 20px;}
#pda_p01_datosArticulo {float: left;  width: 98%;}
#pda_p01_referencia {background-color: white; float: left;  text-align: left; z-index:1; clear:left;}
#pda_p01_referencia_botonera {background-color: white; text-align: left; float:right; z-index:1; right: 0px;}
#pda_p01_separacion {background-color: white; float: left; top: 10px; text-align: left; float:left; z-index:1; border-bottom: 1px solid #7A7878;}

/*+++++++++++ERROR++++++++++++*/
#pda_p03_error_bloque1 {width: 232px; top: 30%; position: relative; text-align: center;}
#pda_p03_filterButtons {position: absolute; text-align: center; width: 232px; top: 180px;}

/*+++++++++++ZONA CENTRAL+++++++++++++*/
#contenidoPagina {background-color: white; position: relative; left: 0px; top: 54px; height: 255px; width: 99%;}
#contenidoPaginaResaltado {background-color: #FFBABA; position: relative; left: 0px; top: 54px; padding: 2px; height: 255px; width: 99%;}
/*+++++++++++PIE PAGINA+++++++++++++*/
#piePagina {background-color: white; min-height: 28px; height : auto; width: 996px;  position: relative;  left: 0px; top: 84px; font-size: 10px; border-top: 2px solid #7a7878; text-align: center; margin-top:15px}
#piePagina a {color: #000000; font-size: 10px; }

/*p10_login*/
#globalErrors {background-color: white;  height: auto; width: 220px; margin-top: 20px;  color:red; margin: 0 auto; text-align: center;}
#login {background-color: white; margin-top: 20px; margin: 0 auto; width: 220px; padding-top:40px;}
/*#login div {background-color: white;  height: 200px; width: 200px; position: absolute; left: 100px; top: 200px}*/
#login table{display:block; border-collapse:separate;border-spacing:5px 20px; width:200px; margin: 0 auto;}
#login tr, td{padding:3px;}
.pda_p10_columnaIzda{text-align: left;}
.pda_p10_columnaDcha{text-align: right;}
.mens_error {
    color: red;
    font: 10px Verdana,Arial,Tahoma,Helvetica,sans-serif;
}
#loginButtons {background-color: white;  height: auto; width: auto; position: relative;   }

/*Formato de imágenes de logos*/
.imagenLogoLogin {
	max-height: 30px;
	width: 30px;
}
.imagenLogo2Login {
	max-height: 30px;
	width: 30px;
}
.imagenLogoCabecera {
	max-height: 15px;
	width: 15px;
}
.imagenInicioCabecera {
	max-height: 20px; 
	width: 30px;
	cursor: pointer;
}
.imagenCerrarCabecera {
	max-height: 15px;
	width: 15px;
	cursor: pointer;
	border: 1px solid;
}
.imagenTd {
	max-height: 15px;
	width: 15px;
}
.tablaTitulo{
	background: none repeat scroll 0 0 #E3E3D3;
    border: 0 solid !important;
    margin-bottom: 5px;
    font-weight: bold;
}
.tablaCabecera{
	background: none repeat scroll 0 0 #E6E6E6;
    border: 0 solid !important;
    margin-bottom: 5px;
}
.tablaContent{
	border: 0px; margin-bottom: 5px; background: #FFFFFF;
}
.tablaJqgrid .tablaTitulo{
	background: none repeat scroll 0 0 #E3E3D3;
    border-top: 1px solid !important;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
}
.tablaTitulo span {font-weight: bold;}
.tablaJqgrid .tablaCabecera{
	background: none repeat scroll 0 0 #E6E6E6;
    border: 1 solid !important;
}
.tablaJqgrid .tablaContent{
	border: 1px; background: #FFFFFF;
}
.tablaJqgrid table{border:1px solid #898989; margin: 0; border-collapse: collapse;}
.tablaJqgrid th{border-bottom:1px solid #898989;border-left:1px solid #898989;font-size:1em;color:#000000}
.tablaJqgrid td{border-bottom:1px solid #898989;border-right:1px solid #898989;color:#000000;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
.tablaJqgrid .tablaTr_impar{background-color: #FFFFFF;}
.tablaJqgrid .tablaTr_par{background-color: #F3F3C3;}
.tablaJqgrid .tablaPaginacion{border: 1px; background: #FFFFFF; width: 100%; table-layout: fixed;}
.tablaJqgrid .paginacion{table-layout: auto;}
.tablaJqgrid .paginacionCentro{width: 90px;}
.tablaJqgrid .botonPaginacion{cursor: pointer; width: 10px;}
.tablaJqgrid .botonPaginacionDeshabilitado{width: 10px;}

.botonPaginacionLinea{cursor: pointer; width: 10px;}
.botonPaginacionLineaDeshabilitado{width: 10px;}
.botonSubmitAnt{background:url("../images/pager_prev.gif") no-repeat scroll 0 0; border:none; background-color:white; cursor:pointer; height:16px; width: 16px; margin-bottom: 3px;}
.botonSubmitSig{background:url("../images/pager_next.gif") no-repeat scroll 0 0; border:none; background-color:white; cursor:pointer; height:16px; width: 16px; margin-bottom: 3px;}
.botonSubmitAntDes{background:url("../images/pager_prev_des.gif") no-repeat scroll 0 0; border:none; background-color:white; height:16px; width: 16px; margin-bottom: 3px;}
.botonSubmitSigDes{background:url("../images/pager_next_des.gif") no-repeat scroll 0 0; border:none; background-color:white; height:16px; width: 16px; margin-bottom: 3px;}

.barraTitulo{color: #000000; background: none repeat scroll 0 0 #E3E3D3; font-weight: bold; border: 1px solid; margin-bottom: 3px; height:0.9em;}
.barraTituloIconoCerrar{width: 12px;}
.barraTituloCerrar{float: left;}
.tituloSeccion{}

#contenidoPaginaResaltado .tituloSeccion {color: #D8000C !important; font-weight: bold; font-size:0.9em;}

#pda_p12_referenciasCentroPedir{height: auto; width: 100px; float: left; vertical-align: middle; margin-right: 3px;}
#pda_p12_pedidoAutomaticoLegendActivo {background-repeat: no-repeat; color: #4F8A10; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p12_pedidoAutomaticoLegendNoActivo {background-repeat: no-repeat; color:#D8000C; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p12_pedidoAutomaticoFieldsetActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #4F8A10; padding:3px; position:relative; text-align: center; color: #4F8A10; background-color: #DFF2BF;}
#pda_p12_pedidoAutomaticoFieldsetNoActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #D8000C; padding:3px; position:relative; text-align: center; color: #D8000C; background-color: #FFBABA; cursor: pointer;}
.pda_p12_parrafoPedidoAutomaticoActivo{color: #4F8A10; margin: 0; font-weight: bold; font-size: 16px;}
.pda_p12_parrafoPedidoAutomaticoNoActivo{color: #0000FF; margin: 0; font-weight: bold; font-size: 16px; text-decoration:underline; cursor: pointer;}
#pda_p12_datosReferencia_bloque1{position: relative; text-align: center; margin-bottom: 10px;}
#pda_p12_datosReferencia_bloque2{position: relative; height: 40px;}
#pda_p12_datosReferencia_bloque3{position: relative; margin-top: 2px; height: 20px;}
#pda_p12_datosReferencia_bloque4{position: relative; width: 232px; height: 20px; margin-top: 2px;}
/*#pda_p12_datosReferencia_bloque4{position: relative; width: 232px; height: 50px; margin-top: 5px;}*/
#pda_p12_datosReferencia_bloque5{position: relative; height: 50px; width: 232px; margin-top: 5px;}
#pda_p12_stock_FFPP{height: auto; width: auto; display:inline-block; vertical-align: top;}
#pda_p12_FFPP{margin-top: 3px;}
#pda_p12_FFPPEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: inherit;}
#pda_p12_SegPedidosEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p12_MovStocksEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p12_datosReferencia_bloque3_v1 {float: left; margin-left: 0px;}
#pda_p12_datosReferencia_bloque3_v1_parr2 {margin-top: 3px;}
#pda_p12_datosReferencia_bloque3_v2 {float: right; position: relative;}
#pda_p12_datosReferencia_bloque3_v2_parr2 {margin-top: 3px;}
#pda_p12_datosReferencia_bloque5_parr1 {margin-top: 0px; margin-left: 0px; float: left; width: 48%}
#pda_p12_datosReferencia_bloque5_parr1_1 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p12_datosReferencia_bloque5_parr1_2 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p12_datosReferencia_bloque5_parr1_3 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p12_datosReferencia_bloque5_parr2 {margin-top: 0px; margin-left: 0px; float: left; width: 48%}
#pda_p12_datosReferencia_bloque5_parr2_1 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p12_datosReferencia_bloque5_parr2_2 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p12_datosReferencia_bloque5_parr2_3 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p12_ventasMediasTablaEstructura {height:auto;margin-left:3px; margin-top: 2px; margin-right: 3px;}
.pda_p12_ventasMediasTablaTh{width:60px; text-align: center;}
.pda_p12_ventasMediasTablaTd{width:60px;}
.pda_p12_guardadoStockOk{color: #4F8A10 !important;}

#pda_p13_referenciasCentroPedir{height: auto; width: 100px; float: left; vertical-align: middle; margin-right: 3px;}
#pda_p13_pedidoAutomaticoLegendActivo {background-repeat: no-repeat; color: #4F8A10; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p13_pedidoAutomaticoLegendNoActivo {background-repeat: no-repeat; color:#D8000C; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p13_pedidoAutomaticoFieldsetActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #4F8A10; padding:3px; position:relative; text-align: center;color: #4F8A10; background-color: #DFF2BF;}
#pda_p13_pedidoAutomaticoFieldsetNoActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #D8000C; padding:3px; position:relative; text-align: center;color: #D8000C; background-color: #FFBABA; cursor: pointer;}
.pda_p13_parrafoPedidoAutomaticoActivo{color: #4F8A10; margin: 0; font-weight: bold; font-size: 16px;}
.pda_p13_parrafoPedidoAutomaticoNoActivo{color: #0000FF; margin: 0; font-weight: bold; font-size: 16px; text-decoration:underline; cursor: pointer;}
#pda_p13_segPedidos_bloque1{position: relative; text-align: center; margin-bottom: 10px;}
#pda_p13_segPedidos_bloque2{position: relative; height: 40px;}
#pda_p13_segPedidos_bloque3{position: relative; height: 30px;}
#pda_p13_segPedidos_bloque4{position: relative; width: 234px; height: 140px;}
#pda_p13_stock_FFPP{height: auto; width: auto; display:inline-block; vertical-align: top;}
#pda_p13_FFPP{margin-top: 3px;}
#pda_p13_FFPPEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: inherit;}
#pda_p13_DatosReferenciaEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p13_MovStocksEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p13_ultEnviosTablaEstructura {height:auto;}
.pda_p13_ultEnviosTablaTh{width:80px; text-align: center;}
.pda_p13_ultEnviosTablaTd{width:80px;}
#pda_p13_ultEnviosTdNSR {text-align: center;}
.pda_p13_guardadoStockOk{color: #4F8A10 !important;}

#p14_AreaDatosMaestro{background-color: white; height: auto; width: 100%;  position: relative;  left: 0px; top: 10px; text-align: left; margin-bottom:5px;}
#p14_AreaReferenciasRelacionadasOferta{background-color: white; height: auto; width: auto;  position: relative;  left: 0px; top: 20px; text-align: left; margin-bottom:5px;}
#p14_AreaGamaFinSemana{background-color: white; height: auto; width: auto;  position: relative;  left: 0px; top: 20px; text-align: left; margin-bottom:5px;}
#p14_datosMaestroEstructura {height:auto;margin-left:3px;}
.p14_datosMaestroEstructuraField{height:auto;  width:auto; display:inline-table; vertical-align: middle;}
.p14_datosMaestroEstructuraField2{height:auto;  width:auto; display:inline-table; vertical-align: middle;}
#p14_referenciasRelacionadasOfertaEstructura {height:auto;margin-left:3px;}
.p14_referenciasRelacionadasOfertaEstructuraField{height:auto;  width:auto; display:inline-table; vertical-align: middle;}
#p14_referenciasRelacionadasTabla{margin-right: 25px; height: auto; width: auto; display:inline-block; vertical-align: middle;}
#p14_oferta{margin-right: 25px; height: auto; width: auto; display:inline-block; vertical-align: top;}
.p13_maestroFijoEstructuraField{height:45px;  width:auto; display:inline-table; vertical-align: middle; margin-right: 25px;}
#p14_gamaFinSemanaEstructura {height:auto;margin-left:3px;}
.p14_gamaFinSemanaEstructuraField{height:auto;  width:auto; display:inline-table; vertical-align: middle;}
#p14_gamaFinSemanaTabla{margin-right: 25px; height: auto; width: auto; display:inline-block; vertical-align: middle;}
.p14_gamaFinSemanaTablaTh{width:30px; text-align: center;}
.p14_gamaFinSemanaTablaTd{width:30px;}
.pda_p14_MotivoMapaHoySPedirS{font-weight: bold; color: inherit; text-decoration: underline;}
.pda_p14_MotivoTexto1{font-weight: normal; color: inherit;}
.pda_p14_MotivoTexto2{color: #D8000C;}
#pda_p14_AreaPopupPedirGeneral{margin-bottom: 3px;}
#pda_p14_div_TituloMotNoActiva{float: left;}
#pda_p14_botonCerrar{float:right;}
#pda_p14_div_TituloMotivosMMC{float: left;}
#pda_p14_AreaPopupPedirMMC{margin-bottom: 3px;}
#pda_p14_AreaPopupPedirGeneral{border: 1px solid;}
#pda_p14_AreaPopupPedirMMC{border: 1px solid;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid .tablaContent, #pda_p14_AreaPopupPedirMMC .tablaJqgrid .tablaContent{border: 0px;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid table, #pda_p14_AreaPopupPedirMMC .tablaJqgrid table{border:0px;width:100%;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid th, #pda_p14_AreaPopupPedirMMC .tablaJqgrid th{border-bottom:0px; border-left:0px;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid td, #pda_p14_AreaPopupPedirMMC .tablaJqgrid td{border-bottom:0px; border-right:0px;}

#pda_p15_referenciasCentroPedir{height: auto; width: 100px; float: left; vertical-align: middle; margin-right: 3px;}
#pda_p15_pedidoAutomaticoLegendActivo {background-repeat: no-repeat; color: #4F8A10; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p15_pedidoAutomaticoLegendNoActivo {background-repeat: no-repeat; color:#D8000C; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p15_pedidoAutomaticoFieldsetActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #4F8A10; padding:3px; position:relative; text-align: center;color: #4F8A10; background-color: #DFF2BF;}
#pda_p15_pedidoAutomaticoFieldsetNoActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #D8000C; padding:3px; position:relative; text-align: center;color: #D8000C; background-color: #FFBABA; cursor: pointer;}
.pda_p15_parrafoPedidoAutomaticoActivo{color: #4F8A10; margin: 0; font-weight: bold; font-size: 16px;}
.pda_p15_parrafoPedidoAutomaticoNoActivo{color: #0000FF; margin: 0; font-weight: bold; font-size: 16px; text-decoration:underline; cursor: pointer;}
#pda_p15_movStocks_bloque1{position: relative; text-align: center; margin-bottom: 10px;}
#pda_p15_movStocks_bloque2{position: relative; height: 40px;}
#pda_p15_movStocks_bloque3{position: relative; height: 30px;}
#pda_p15_movStocks_bloque4{position: relative; width: 234px; height: 140px;}
#pda_p15_stock_FFPP{height: auto; width: auto; display:inline-block; vertical-align: top;}
#pda_p15_FFPP{margin-top: 3px;}
#pda_p15_FFPPEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: inherit;}
#pda_p15_DatosReferenciaEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p15_SegPedidosEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p15_movStocksTablaEstructura {height:auto;}
.pda_p15_movStocksTablaThFecha{width:62px; text-align: center;}
.pda_p15_movStocksTablaThVentas{width:72px; text-align: center;}
.pda_p15_movStocksTablaThCorr1{width:53px; text-align: center;}
.pda_p15_movStocksTablaThCorr2{width:53px; text-align: center;}
.pda_p15_movStocksTablaTdFecha{text-align: right;}
.pda_p15_movStocksTablaTdVentas{text-align: right;}
.pda_p15_movStocksTablaTdCorr1{text-align: right;}
.pda_p15_movStocksTablaTdCorr2{text-align: right;}
.pda_p15_guardadoStockOk{color: #4F8A10 !important;}

#pda_p21_sfm_titulo{float: left; text-align: center; margin-bottom: 5px; width: 98%;}
#pda_p21_sfm_bloque1 {float: left;}
#pda_p21_sfm_bloque2 {margin-top: 3px; float: left; vertical-align: bottom;}
#pda_p21_sfm_bloqueError {float: left; text-align: center; width: 98%;}
#pda_p21_sfm_bloque4 {float: left; margin-bottom: 3px;}
#pda_p21_sfm_bloque5 {float: left; text-align: center; margin-bottom: 3px; padding-left: 40px;}
#pda_p21_sfm_bloque6 {float: left; text-align: center; margin-bottom:3px; padding-left: 10px;}
#pda_p21_filterButtons {float: left; text-align: center; bottom: 10px; padding-left: 60px;}
#pda_p21_filterButtonsSoloConsulta {float: left; text-align: center; bottom: 10px; padding-left: 87px;}
.pda_p21_imagen_estado{width: 22px;}
#pda_p21_sfm_bloque1_label{float: left; padding-top: 6px;}
#pda_p21_sfm_bloque1_campo{float: right; padding: 3px;}
#pda_p21_sfm_bloque2_pagAnt {float: left; vertical-align: bottom; margin: 3px;}
#pda_p21_sfm_bloque2_pagNum {float: left; width: 170px; text-align: center; vertical-align: bottom;}
#pda_p21_sfm_bloque2_pagSig {float: right; vertical-align: bottom; margin: 3px;}
.pda_p21_error{font-size: 12px; font-weight: bold; color: #D8000C;}
#pda_p21_sfm_LimSup{float: left; text-align: center; width: 80px; padding-top:5px;}
#pda_p21_sfm_Estado{float: left; text-align: center; width: 68px; margin: 0 auto; }
#pda_p21_sfm_LimInf{float: right; text-align: center; width: 80px; padding-top:5px;}
#pda_p21_sfm_EstadoLabel{text-align: center;}
#pda_p21_sfm_EstadoIcono{text-align: center;}
#pda_p21_sfm {float: left; text-align: center; width: 75px;}
#pda_p21_sfm_dias {float: left; text-align: center; width: 75px;}
#pda_p21_sfm_vidaUtil {float: left; text-align: center; width: 70px;}
#pda_p21_sfm_vm_sfm {float: left; text-align: center; width: 70px;}
#pda_p21_sfm_ventaAnti {float: left; text-align: center; width: 70px;}
.pda_p21_ButtonInline {float:left; padding: 3px; width: 50px;}

#pda_p22_capacidad_titulo{float: left; text-align: center; margin-bottom: 10px; width: 98%;}
#pda_p22_capacidad_bloque1 {float: left; margin-bottom: 0px;}
#pda_p22_capacidad_bloque2 {margin-top: 3px; float: left; vertical-align: bottom;}
#pda_p21_sfm_bloqueError {float: left; text-align: center; width: 98%;}
#pda_p22_capacidad_bloque3 {float: left; text-align: center; margin-bottom: 10px;}
#pda_p22_capacidad_bloque4 {float: right; margin-bottom: 10px; text-align: center;}
#pda_p22_capacidad{text-align: right; float: right; padding-right: 60px;}
#pda_p22_facing{text-align: right; float: right; padding-right: 60px;}
#pda_p22_capacidad_bloque5 {float: right; width: 98%; text-align: center; margin-bottom: 30px;}
#pda_p22_filterButtons {float: left; text-align: center; width: 180px; bottom: 10px; padding-left: 60px;}
.pda_p22_imagen_estado{width: 22px;}
#pda_p22_capacidad_bloque1_label{float: left; padding-top: 6px;}
#pda_p22_capacidad_bloque1_campo{float: right; padding: 3px;}
#pda_p22_capacidad_bloque2_pagAnt {float: left; vertical-align: bottom; margin: 3px;}
#pda_p22_capacidad_bloque2_pagNum {float: left; width: 170px; text-align: center; vertical-align: bottom;}
#pda_p22_capacidad_bloque2_pagSig {float: right; vertical-align: bottom; margin: 3px;}
.pda_p22_error{font-size: 12px; font-weight: bold; color: #D8000C;}
#pda_p22_capacidad_stock{float:left; text-align: center; width: 85px; padding-top:5px;}
#pda_p22_capacidad_Estado{float:left; text-align: center; width: 60px; margin: 0 auto;}
#pda_p22_capacidad_diasStock{float:right; text-align: center; width: 85px; padding-top:5px;}
#pda_p22_capacidad_EstadoLabel{text-align: center;}
#pda_p22_capacidad_EstadoIcono{text-align: center;}
.pda_p22_ButtonInline {float:left; padding: 3px;}

#pda_p23_limpiarSfmCapacidad_bloque1 {display: block; margin-top: 70px; margin-left: 3px;}
#pda_p23_limpiarSfmCapacidad_bloque2 {display: block; margin-top: 10px; margin-left: 50px;}
#pda_p23_limpiarSfmCapacidad_bloque3 {display: block; margin-top: 10px; margin-left: 50px;}
#pda_p23_filterButtons {position: absolute; text-align: center; width: 232px; top: 230px;}
#pda_p23_LimpRefEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: inherit;}
#pda_p23_LimpTodasRefEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: inherit;}

#pda_p24_guardarSfmCapacidad_bloque1 {width: 220px; top: 30%; position: relative; text-align: center; margin: 0 auto;}
#pda_p24_filterButtons {position: absolute; text-align: center; width: 232px; top: 180px;}

#pda_p25_ventaAnticipada_titulo{float: left; text-align: center; margin-bottom: 10px; width: 98%;}
#pda_p25_ventaAnticipada_bloqueMensajes {float: left; text-align: center; width: 98%; height: 50px;}
#pda_p25_ventaAnticipada_bloque1 {float: left; text-align: center; width: 98%;}
#pda_p25_ventaAnticipada_bloque2 {float: left; text-align: center; margin-top: 10px; width: 98%;}
#pda_p25_ventaAnticipada_label{float: left; padding-top: 6px; margin-left: 20px;}
#pda_p25_ventaAnticipada_campo{float: right; padding: 3px; margin-right: 20px;}
#pda_p25_ventaAnticipada_bloqueError {float: left; text-align: center; width: 98%;}
.pda_p25_error{font-size: 12px; font-weight: bold; color: #D8000C;}
#pda_p25_ventaAnticipada_bloqueGuardado {float: left; text-align: center; width: 98%; margin-top: 10px;}
.pda_p25_guardado{font-size: 12px; font-weight: bold; color: #4F8A10;}
#pda_p25_filterButtons {float: left; text-align: center; width: 98%; margin-top: 20px;}

#pda_p26_guardarVentaAnticipada_bloque1 {float: left; text-align: center; margin-top: 40px; width: 98%;}
#pda_p26_filterButtons {float: left; text-align: center; width: 98%; margin-top: 30px;}

#pda_p27_facing_titulo{float: left; text-align: center; margin-bottom: 10px; width: 98%;}
#pda_p27_facing_bloque1 {float: left; margin-bottom: 0px;}
#pda_p27_facing_bloque2 {margin-top: 3px; float: left; vertical-align: bottom;}
#pda_p27_facing_bloque3 {float: left; text-align: center; margin-bottom: 10px; width: 98%;}
#pda_p27_facing_bloque4 {float: right; margin-bottom: 10px; text-align: center; margin-bottom: 20px;}
#pda_p27_facing_bloque5 {float: right; width: 98%; text-align: center; margin-bottom: 30px;}
#pda_p27_facing{text-align: right; float: right; padding-right: 60px;}
#pda_p27_filterButtons {float: left; text-align: center; width: 180px; bottom: 10px; padding-left: 60px;}
.pda_p27_imagen_estado{width: 22px;}
#pda_p27_facing_bloque1_label{float: left; padding-top: 6px;}
#pda_p27_facing_bloque1_campo{float: right; padding: 3px;}
#pda_p27_facing_bloque2_pagAnt {float: left; vertical-align: bottom; margin: 3px;}
#pda_p27_facing_bloque2_pagNum {float: left; width: 170px; text-align: center; vertical-align: bottom;}
#pda_p27_facing_bloque2_pagSig {float: right; vertical-align: bottom; margin: 3px;}
.pda_p27_error{font-size: 12px; font-weight: bold; color: #D8000C;}
#pda_p27_facing_stock{float:left; text-align: center; width: 85px; padding-top:5px;}
#pda_p27_facing_Estado{float:left; text-align: center; width: 98%; margin: 0 auto;}
#pda_p27_facing_diasStock{float:right; text-align: center; width: 85px; padding-top:5px;}
#pda_p27_facing_EstadoLabel{text-align: center; width: 98%;}
#pda_p27_facing_EstadoIcono{text-align: center; width: 98%;}
.pda_p27_ButtonInline {float:left; padding: 3px;}

#pda_p28_correccionStockInicio_titulo{float: left; text-align: center; margin-bottom: 10px; width: 98%;}
#pda_p28_correccionStockInicio_bloque1 {  float: left; text-align: center; margin-top: 40px; padding-left: 20px; padding-right: 20px;}
#pda_p28_filterButtons {float: left; text-align: center; width: 98%; margin-top: 20px;}

#pda_p29_correccionStockSeleccion_titulo{float: left; text-align: center; margin-top: 10px; width: 98%;}
#pda_p29_correccionStockSeleccion_bloqueError {float: left; text-align: center; width: 98%;}
.pda_p29_error{font-size: 12px; font-weight: bold; color: #D8000C;}
#pda_p29_correccionStockSeleccion_bloqueGuardado {float: left; text-align: center; width: 98%;}
.pda_p29_guardado{font-size: 12px; font-weight: bold; color: #4F8A10;}
#pda_p29_correccionStockSeleccion_bloque1 {  float: left; text-align: center; margin-top: 10px; margin-bottom: 30px; padding-left: 20px; padding-right: 20px;}
#pda_p29_filterButtons {float: left; text-align: center; width: 98%; margin-top: 20px;}

#pda_p30_correccionStock_pcs_titulo{float: left; text-align: center; margin-bottom: 5px; width: 98%;}
#pda_p30_bloqueError {float: left; text-align: center; width: 98%;}
.pda_p30_error {color: #D8000C; font-size: 12px; font-weight: bold;}
.pda_p30_bloqueRegistro {margin-top: 3px; float: left; vertical-align: bottom; width: 98%;}
.pda_p30_reg_descripcionCab{float: left; text-align: center; width: 90px; margin: 0 auto; }
.pda_p30_reg_bandejasCab{float: left; text-align: center; width: 70px; margin: 0 auto; }
.pda_p30_reg_stockCab{float: left; text-align: center; width: 70px; margin: 0 auto; }
.pda_p30_reg_descripcion{float: left; text-align: left; width: 90px; margin: 0 auto; }
.pda_p30_reg_bandejas{float: left; text-align: center; width: 70px; margin: 0 auto; }
.pda_p30_reg_stock{float: left; text-align: center; width: 70px; margin: 0 auto; }
#pda_p30_filterButtons {float: left; text-align: center; width: 98%; margin-top: 20px;}
.pda_p30_ButtonInline {float:left; padding: 3px; width: 50px;}

#pda_p31_correccionStock_pcn_titulo{float: left; text-align: center; margin-bottom: 5px; width: 98%;}
#pda_p31_bloqueError {float: left; text-align: center; width: 98%;}
.pda_p31_error {color: #D8000C; font-size: 9px; font-weight: bold;}
#pda_p31_bloqueGuardado {float: left; text-align: center; width: 98%;}
.pda_p31_guardado {color: #4F8A10; font-size: 12px; font-weight: bold;}
#pda_p31_bloque1 {float: left;}
#pda_p31_bloque1_pagAnt {float: left; vertical-align: bottom; margin: 3px;}
#pda_p31_bloque1_pagNum {float: left; width: 170px; text-align: center; vertical-align: bottom;}
#pda_p31_bloque1_pagSig {float: right; vertical-align: bottom; margin: 3px;}
.pda_p31_bloqueRegistro {margin-top: 3px; float: left; vertical-align: bottom; width: 98%;}
.pda_p31_reg_tipoCab{float: left; text-align: center; width: 25px; margin: 0 auto; }
.pda_p31_reg_descripcionCab{float: left; text-align: center; width: 135px; margin: 0 auto; }
.pda_p31_reg_stockCab{float: left; text-align: center; width: 70px; margin: 0 auto; }
.pda_p31_reg_tipo{float: left; text-align: center; width: 25px; margin: 0 auto; }
.pda_p31_reg_descripcion{float: left; text-align: left; width: 135px; margin: 0 auto; }
.pda_p31_reg_stock{float: left; text-align: center; width: 70px; margin: 0 auto; }
#pda_p31_filterButtons {float: left; text-align: center; width: 98%; margin-top: 20px;}
.pda_p31_ButtonInline {float:left; padding: 3px; width: 50px;}
.pda_p31_ButtonInlineGrande {float:left; padding: 3px; width: 100px;}

#pda_p32_que_hacer_ref_titulo{float: left; text-align: center; margin-bottom: 10px; width: 98%;}
.pda_p32_que_hacer_ref_bloque {float: left; text-align: center; width: 98%; overflow: hidden; white-space: nowrap;}
.pda_p32_que_hacer_ref_label{float: left; font-weight: bold; vertical-align: middle; text-align: left; width: 98%;}
.pda_p32_que_hacer_ref_campo{margin-left: 3px; text-align: left;}
#pda_p32_que_hacer_ref_bloque_converArt{float: left; text-align: center; width: 98%; margin-top: 5px; margin-bottom: 5px; overflow: hidden; white-space: nowrap;}
#pda_p32_que_hacer_ref_bloque_accion{float: left; text-align: center; width: 98%; margin-top: 10px; margin-bottom: 10px;}
#pda_p32_lbl_accionVal{margin-left: 3px; font-weight: bold; color: #D8000C; text-align: left;}
.pda_p32_que_hacer_ref_error{font-size: 12px; font-weight: bold; color: #D8000C;}

#pda_p116_referenciasCentroPedir{height: auto; width: 100px; float: left; vertical-align: middle; margin-right: 3px;}
#pda_p116_pedidoAutomaticoLegendActivo {background-repeat: no-repeat; color: #4F8A10; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p116_pedidoAutomaticoLegendNoActivo {background-repeat: no-repeat; color:#D8000C; height: 25px; padding-left: 3px; padding-right: 25px; padding-top: 10px; position : absolute; top : -17px;}
#pda_p116_pedidoAutomaticoFieldsetActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #4F8A10; padding:3px; position:relative; text-align: center; color: #4F8A10; background-color: #DFF2BF;}
#pda_p116_pedidoAutomaticoFieldsetNoActivo {font-family:Arial, Helvetica, sans-serif; font-size:20px; border: 1px solid #D8000C; padding:3px; position:relative; text-align: center; color: #D8000C; background-color: #FFBABA; cursor: pointer;}
.pda_p116_parrafoPedidoAutomaticoActivo{color: #4F8A10; margin: 0; font-weight: bold; font-size: 16px;}
.pda_p116_parrafoPedidoAutomaticoNoActivo{color: #0000FF; margin: 0; font-weight: bold; font-size: 16px; text-decoration:underline; cursor: pointer;}
#pda_p116_datosReferencia_bloque1{position: relative; text-align: center; margin-bottom: 10px;}
#pda_p116_datosReferencia_bloque2{position: relative; height: 40px;}
#pda_p116_datosReferencia_bloque3{position: relative; margin-top: 2px; height: 20px;}
#pda_p116_datosReferencia_bloque4{position: relative; width: 232px; height: 20px; margin-top: 2px;}
/*#pda_p116_datosReferencia_bloque4{position: relative; width: 232px; height: 50px; margin-top: 5px;}*/
#pda_p116_datosReferencia_bloque5{position: relative; height: 50px; width: 232px; margin-top: 5px;}
#pda_p116_stock_FFPP{height: auto; width: auto; display:inline-block; vertical-align: top;}
#pda_p116_FFPP{margin-top: 3px;}
#pda_p116_FFPPEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: inherit;}
#pda_p116_SegPedidosEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p116_MovStocksEnlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 11px; font-weight: bold;}
#pda_p116_datosReferencia_bloque3_v1 {float: left; margin-left: 0px;}
#pda_p116_datosReferencia_bloque3_v1_parr2 {margin-top: 3px;}
#pda_p116_datosReferencia_bloque3_v2 {float: right; position: relative;}
#pda_p116_datosReferencia_bloque3_v2_parr2 {margin-top: 3px;}
#pda_p116_datosReferencia_bloque5_parr1 {margin-top: 0px; margin-left: 0px; float: left; width: 48%}
#pda_p116_datosReferencia_bloque5_parr1_1 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p116_datosReferencia_bloque5_parr1_2 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p116_datosReferencia_bloque5_parr1_3 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p116_datosReferencia_bloque5_parr2 {margin-top: 0px; margin-left: 0px; float: left; width: 48%}
#pda_p116_datosReferencia_bloque5_parr2_1 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p116_datosReferencia_bloque5_parr2_2 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p116_datosReferencia_bloque5_parr2_3 {margin-top: 0px; margin-left: 0px; width: 100%;}
#pda_p116_ventasMediasTablaEstructura {height:auto;margin-left:3px; margin-top: 2px; margin-right: 3px;}
.pda_p116_ventasMediasTablaTh{width:60px; text-align: center;}
.pda_p116_ventasMediasTablaTd{width:60px;}
.pda_p116_guardadoStockOk{color: #4F8A10 !important;}


#menuPrincipal, #menuPrincipal ul { margin:0; padding:0; list-style-type:none; list-style-position:outside; position:relative; }
#menuPrincipal a:link, #menuPrincipal a:active, #menuPrincipal a:visited { display: block; border-right: 0px; border-bottom: 0px; color: #a9a9a9; text-decoration: none; background-color:#FFFFFF; }
#menuPrincipal a:hover { background-color: #b03328; color: #FFF; }
#principalSubMenu li { float: left; position: relative; z-index: 1; background-color: #7a7878; border:1px solid #7a7878;}
#principalSubMenu ul { position: absolute; width: 14em; top: 2.3em; display: none; }
#principalSubMenu li ul a { width: 6em; float: left; }
#principalSubMenu ul ul { top: auto; }  
#principalSubMenu li ul ul { left: 14em; margin: 0 0 0 10px; }

#menuConsulta, #menuConsulta ul { margin:0; padding:0; list-style-type:none; list-style-position:outside; position:relative; }
#menuConsulta a:link, #menuConsulta a:active, #menuConsulta a:visited { display: block; border-right: 0px; border-bottom: 0px; color: #a9a9a9; text-decoration: none; background-color:#FFFFFF; }
#menuConsulta a:hover { background-color: #b03328; color: #FFF; }
#menuConsulta li { float: left; position: relative; z-index: 1; background-color: #7a7878; border:1px solid #7a7878;}
#menuConsulta ul { position: absolute; width: 14em; top: 2.3em; display: none; }
#menuConsulta li ul a { width: 6em; float: left; }
#menuConsulta ul ul { top: auto; }  
#menuConsulta li ul ul { left: 14em; margin: 0 0 0 10px; }