.etiquetaCampoNegrita { text-align: right; margin-right: 1px; vertical-align: middle; font-weight:bold;}
.etiquetaCampoNegritaVertAliBottom { text-align: right; margin-right: 1px; vertical-align: bottom; font-weight:bold;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.valorCampo { text-align: left; margin-right: 1px; vertical-align: middle; font-weight: normal;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#contenidoCentral{height:210px;}
#pda_p98_capturaRestos_titulo{float:left;text-align:center;margin-bottom:10px;width:98%;}

#pda_p98_datosReferencia_bloqueReferencia{float:left; text-align:center;width:99%; margin-bottom: 5px;}
#pda_p98_bloque2_descReferencia {
    float: left;
    margin-left: 1px;
    margin-right: 3px;
}
#pda_p98_fld_descripcionRef{font-weight:bold;color:blue !important;background-color:#c2c2c2; text-decoration: underline;}
#pda_p98_bloque2_tipoRot{float: left;}

.input225{width: 225px}
.input180{width:180px}
.pda_p98_tipoRotacionAR{font-weight: bold; color:#000000; background-color: #FF0000; text-align: center; width: 30px;}
.pda_p98_tipoRotacionMR{font-weight: bold; color:#000000; background-color: #FFFF00; text-align: center; width: 30px;}
.pda_p98_tipoRotacionBR{font-weight: bold; color:#000000; background-color: #00FF00; text-align: center; width: 30px;}
.pda_p98_tipoRotacionUndef{font-weight: bold; color:#000000; background-color: #FFFFFF; text-align: center; width: 30px;}


#pda_p98_datosStock_UC{float:left; width:99%; margin-bottom: 15px;}
#pda_p98_datosStock{float:left; text-align:left;width:50%;}
#pda_p98_datosUC{float:left; text-align:right;width:47%;}

#pda_p98_datosOferta_cabecera{float:left; width:99%; margin-bottom: 2px;}
#pda_p98_datosOferta{float:left; text-align:left;width:50%;}
#pda_p98_datosCabecera{float:left; text-align:right; width:45%;}

#pda_p98_datosAlbaran{float:left; margin-bottom:10px;width:99%;}
#pda_p98_datosAlbaran hr{width:100%;clear:both;height:1px;margin:2px 0 2px;border:0;background:#000000;color:#000000}
#pda_p98_datosAlbaran label{font-weight:bold;font-size:12px;}

#pda_p98_capacidad_facing{float:left;text-align:left;margin-bottom:10px;width:99%;}
.pda_p98_capacidad_facing_left{vertical-align:bottom;text-align:left;float:left;height:20px}
.pda_p98_capacidad_facing_right{width:45%;vertical-align:bottom;text-align:left;float:left;height:20px}

/*Paginacion*/
/*#pda_p98_bloqueFlechas{width: 100%;float: left;margin:3px;height:10%;position:absolute;bottom: 0}*/
#pda_p98_bloqueFlechas{width: 100%;float: left;margin:3px;height:10%;}
#pda_p98_pager{width:65%;float: left;margin: 1px;}
.pda_p98_pager_arrow{width:16%;float:left;}
.pda_p98_pager_arrow_img{width:85%;display: block;margin: auto;}
#pda_p98_pager_numbers{float:left;font-size:15px;text-align:center;}

#pda_p98_error_bloque{width:232px;top:30%;position:relative;text-align:center;}
.mens_error{color:red;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;margin: 0;}

.pda_p98_enlaceGuardadoOK{color: #4F8A10;  cursor: pointer;  text-decoration: underline; font-size: 12px; font-weight: bold;}
.pda_p98_enlaceSfmOk{color:#4F8A10;cursor:pointer;text-decoration:underline;}
.pda_p98_enlace{color: #0000FF; cursor: pointer; text-decoration: underline; font-size: 12px; font-weight: bold; }


#pda_p98_datosReferencia_bloque5{width:232px;float:left}
#pda_p98_imagenComercialLegendVerde{margin:0px 5px;}
#pda_p98_imagenComercialLegendRojo{ margin:0px 5px;}
#pda_p98_imagenComercialSpanVerde{color:#4F8A10;font-weight:bold; }
#pda_p98_imagenComercialSpanRojo{color:#FF0000;font-weight:bold; }


#pda_p98_datosReferencia_bloque5_areaPlanograma{margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_capacidadVegalsa{float: left; width:auto}
#pda_p98_datosReferencia_bloque5_facingDerecha{margin-top: 0px; margin-left: 0px; float: left; width: 50%}
#pda_p98_datosReferencia_bloque5_multipDerecha{float: left; width:auto}
#pda_p98_datosReferencia_bloque5_capacidad{margin-top: 0px; margin-left: 0px; float: left; width: 50%}
#pda_p98_datosReferencia_bloque5_multipImcDerecha{float: right; width: 50%}
#pda_p98_datosReferencia_bloque5_imcDerecha{float: left; width:auto}
#pda_p98_datosReferencia_bloque5_cap1fac1{width:100%;float:left;}
#pda_p98_datosReferencia_bloque5_cap1{width:50%;float:left}
#pda_p98_datosReferencia_bloque5_fac1{width:50%;float:left}
#pda_p98_datosReferencia_bloque5_capacidadVegalsa{float: left; width:auto}
#pda_p98_datosReferencia_bloque5_areaSfm{margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_sfm {float:left; width:auto;}
#pda_p98_datosReferencia_bloque5_areaFacCap{margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_areaCap{margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_areaFacing {margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_facing{float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_multipImc{float: left; width: 100%}
#pda_p98_datosReferencia_bloque5_multip{float: left; width:auto}
#pda_p98_datosReferencia_bloque5_imc{float: left; width:auto}

#pda_p98_imc_mensaje_restos{float:left;text-align:center;width:98%;}
#pda_p98_lbl_mensaje_restos_ok{font-weight:bold;color:#4F8A10;}
#pda_p98_lbl_mensaje_restos_ko{font-weight:bold;color:#D8000C;}
