#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p63_tipoDeDevolucion_tituloComun{text-align:center;width:100%;height:35px;}
#pda_p63_tipoDevolucion_tituloLink{width:100%;float:left;height:15px;overflow:hidden;}
#pda_p63_tipoDevolucion_numeroReferencias{width:100%;float:left;}
#numeroReferenciasInfo{width:65%;float:left;text-align:right;}
#numeroReferenciasDatos{width:35%;float:left;text-align:left;}
#numeroReferenciaDatosCompletadas{width:40%;float:left;text-align:right;}
#numeroReferenciaDatosTotal{width:60%;float:left;text-align:left;}
#pda_p63_tipoDeDevolucion_contenidoDistinto{width:100%;height:170px;}
.pda_p63_tipoDeDevolucion_contenidoDistinto_bloque{height:160px;width:95%;border:1px solid black;margin-left:4px;padding:2px}
.pda_p63_tipoDeDevolucion_contenidoDistinto_bloque.pda_p63_con_textil{height:178px}
.ordenDeRetiradaDatos{height:30px;width:100%;float:left;}
.ordenDeRetiradaDatos_compacto{height:15px;width:100%;float:left}
.bloqueEntero{width:98%;float:left;height:15px;;margin-top:7px;}
.bloqueMitad{width:50%;float:left;height:15px;;margin-top:7px;}
.bloqueMitad2{width:50%;float:left;height:15px;}
.bloqueTercio{width:33%;float:left;height:15px;margin-top:7px;}
.bloqueTreinta{width:38%;float:left;margin-top:2px;}
.bloqueTreintaCinco{width:35%;float:left;margin-top:2px;}
.bloqueTreinta2{width:30%;float:left;height:15px;margin-top:7px;}
.bloqueCuarenta{width:40%;float:left;height:15px;}
.bloqueStock{width:26%;float:left;height:15px;margin-top:7px;}
.bloqueCuarentaStock{width:40%;float:left;margin-top:1px;}
.bloqueCuarentaStockDevuelto{width:44%;float:left;margin-top:2px;}
.bloqueStockDevuelto{width:32%;float:left;height:15px;margin-top:7px;}
.bloqueBulto{width:39%;float:left;height:15px;margin-top:7px;}
.bloqueSesentaLabel{width:48%;float:left;margin-left:2px;margin-top: 1px;}
.bloqueSesentaStock{width:45%;float:left;margin-left:5px;margin-top: 2px;}
.bloqueCincuentaStockDevuelto{width:49%;float:left;margin-top: 1px;}
.bloqueSesentaBulto{width:48%;float:left;margin-top: 1px;}
.bloqueSesenta3{width:60%;float:left;height:15px;}
.bloqueDiez{width:10%;float:left;}
.inputFinCampania{width:90%;height: 15px;}
.inputFinCampaniaReadOnly{width:90%;height: 15px;background-color:#dbdbdb;cursor:pointer;}
.variosBultos{width:100%;height: 15px;font-weight: bold;font-size: 16px;}
.pda_p63_lbl_Info{font-weight: bold;}

#bloqueFlechas{float:left;width:63%;height: 45px;margin-top:9px}
.paginacion{float:left;padding-left:1px;height:35px;}
#numeroPagina{height:35px;font-weight:bold;padding-top:4px;font-size:12px;}
#bloqueBoton{float:left;width:19%;height:45px;text-align: center;}
#bloqueBotonCerrarBulto{float:left;width:15%;height:45px;text-align: center;margin-top: 4px;}
.bloqueBotonGuardar{float:left;width:50%;height: 35px;}
.bloqueBotonAzul{border:1px solid blue;width:45%;height:21px;float:left;overflow:hidden;text-align:center;padding-top: 6px;}
.botonSubmitGrabar{background:url("../images/finalizar_45.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:100%;margin-bottom:3px;}
.botonCerrarBulto{background:url("../images/caja_30.png") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:100%;;margin-bottom:3px;}
.input150{width:150px;}
.input225{width: 225px;font-weight: bold;}
.valorCampoStk {padding-top: 5px;}
#pda_p63_tipoDeDevolucion_pieComun{width:100%;height:40px;}

.pda_p63_guardadoCorrectamente{border:1px solid green;background-color: #e8f8da;}
.pda_p63_guardadoErroneo{border:1px solid orange;background-color: #fcd7ad;}
.pda_p63_modificado{border:1px solid black;background-color: #c6c0c0}

.mens_error{color: red;font: 10px Verdana,Arial,Tahoma,Helvetica,sans-serif;text-align: center;}
#pda_p63_noHayLineasDevolucionesError{width: 232px;top: 30%;position: relative;text-align: center;}
#pdaP63RealizarDevolucionOrdenDeRetirada{width:100%;height:100%;}
.pda_p63_guardadoErroneo{border:1px solid orange;}
.inputCantidadResaltado{border:1px solid #FF0000 !important;}
.inputBultoResaltado{border:1px solid #FF0000 !important;}
.inputSinBorde{border-width:0;}
.pda_p63_limitado{white-space:nowrap;overflow:hidden}
.tallaYColorP63>div{margin-top:0px}

.linkVerde{color:green;}
.pda_p63_readonly{background-color:#d3d3d3}
.pda_p63_error{color:#D8000C;font-weight:bold;}
