#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p68_msgFinalizarSiNo_contenido{float:left;height:220px;width:98%;margin-top: 30px;}
#pda_p68_msgFinalizarSiNo_msg{float:left;height:35px;width:98%;margin-left: 5px;}
#pda_p68_msgFinalizarSiNo_button{float: left;height: 35px;width: 98%;margin-left: 10px;margin-top: 15px;}

.colorMsg{font-weight: bold;}
.buttonFinalizarSi{margin-left: 40px;}
.buttonFinalizarNo{margin-left: 20px;}

#pda_p68_msgFinalizarSiNo_titulo{}
#pda_p68_msgFinalizarSiNo_contenido{}