.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.input50{width:50px}
.input90{width:90px}
.inputSinBorde{border-width:0;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p73_bandejasKgs_titulo{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p73_bandejasKgs_bloqueError{float:left;text-align:center;width:98%;}
.pda_p73_bandejasKgs_error{color:#D8000C;font-size:12px;font-weight:bold;}
.pda_p73_bandejasKgs_bloqueRegistro{margin-top:3px;float:left;vertical-align:bottom;width:98%;}
.pda_p73_bandejasKgs_descripcionCab{float:left;text-align:center;width:90px;margin:0 auto;}
.pda_p73_bandejasKgs_bandejasCab{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p73_bandejasKgs_stockCab{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p73_bandejasKgs_descripcion{float:left;text-align:left;width:90px;margin:0 auto;}
.pda_p73_bandejasKgs_bandejas{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p73_bandejasKgs_kgs{float:left;text-align:center;width:70px;margin:0 auto;}
#pda_p73_bandejasKgs_filterButtons{float:left;text-align:right;width:93%;margin-top:20px;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;}
.pda_p73_reg_bandejas{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p73_reg_kgs{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p73_colorMsgRed{color:red;font-size: 10px;font-weight: bold;}