.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;font:normal Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
td{padding:3px;}
#pda_p23_limpiarSfmCapacidad_bloque1{display:block;margin-top:70px;margin-left:3px;}
#pda_p23_limpiarSfmCapacidad_bloque2{display:block;margin-top:10px;margin-left:50px;}
#pda_p23_limpiarSfmCapacidad_bloque3{display:block;margin-top:10px;margin-left:50px;}
#pda_p23_filterButtons{position:absolute;text-align:center;width:232px;top:230px;}
#pda_p23_LimpRefEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit;}
#pda_p23_LimpTodasRefEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit;}