.valorCampo{ text-align:left;margin-right:1px;vertical-align:middle;font-weight:normal;}
.valorCampoResaltado{ text-align:left;margin-right:1px;vertical-align:middle;font-weight:normal;color:red;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:14px;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
.tablaTitulo{background:none repeat scroll 0 0 #E3E3D3;border:0 solid !important;margin-bottom:5px;font-weight:bold;}
.tablaCabecera{background:none repeat scroll 0 0 #E6E6E6;border:0 solid !important;margin-bottom:5px;}
.tablaContent{border:0px;margin-bottom:5px;background:#FFFFFF;}
.tablaJqgrid .tablaTitulo{background:none repeat scroll 0 0 #E3E3D3;border-top:1px solid !important;border-left:1px solid !important;border-right:1px solid !important;border-bottom:0px;margin-bottom:0px;font-weight:bold;height:20px;padding-left:5px;padding-top:5px;}
.tablaTitulo span{font-weight:bold;}
.tablaJqgrid .tablaCabecera{background:none repeat scroll 0 0 #E6E6E6;border:1 solid !important;}
.tablaJqgrid .tablaContent{border:1px;background:#FFFFFF;}
.tablaJqgrid table{border:1px solid #898989;margin:0;border-collapse:collapse;}
.tablaJqgrid th{border-bottom:1px solid #898989;border-left:1px solid #898989;font-size:1em;color:#000000}
.tablaJqgrid td{border-bottom:1px solid #898989;border-right:1px solid #898989;color:#000000;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
.tablaJqgrid .tablaTr_impar{background-color:#FFFFFF;}
.tablaJqgrid .tablaTr_par{background-color:#F3F3C3;}
.tablaJqgrid .tablaPaginacion{border:0px;background:#FFFFFF;width:100%;table-layout:fixed;}
.tablaJqgrid .tablaPaginacion table {border:0px;background:#FFFFFF;width:100%;}
.tablaJqgrid .tablaPaginacion th {border:0px;background:#FFFFFF;}
.tablaJqgrid .tablaPaginacion td {border:0px;background:#FFFFFF;}
.tablaJqgrid .tablaPaginacion tr {border:0px;background:#FFFFFF;}
.tablaJqgrid .paginacion{table-layout:auto;}
.tablaJqgrid .paginacionCentro{width:90px;}
.tablaJqgrid .botonPaginacion{cursor:pointer;width:25px;}
.tablaJqgrid .botonPaginacionDeshabilitado{width:25px;}
#pda_p15_referenciasCentroPedir{height:auto;width:60px;float:left;vertical-align:middle;}
#pda_p15_tengoMuchoPoco{height:auto;width:85px;float:left;vertical-align:middle;margin-right:1px;}
#pda_p15_tengoMuchoPocoFieldsetErrorStock{height: 42px; margin: 0; width:85px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #D8000C;padding:2px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;}
#pda_p15_tengoMuchoPocoErrorStockLabel{color:#D8000C;margin:0;font-weight:bold; font-size: 9px;}
#pda_p15_tengoMuchoPocoErrorStockLabelDiv{float:left; width: 85px;}
#pda_p15_tengoMuchoPocoFieldsetError{height: 42px; margin: 0; width:85px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #000000;padding:2px 1px;position:relative;text-align:center;color:#000000;background-color:#FFFFFF;}
#pda_p15_tengoMuchoPocoErrorLabel{color:#000000;margin:0;font-weight:bold; font-size: 9px;}
.pda_p15_tengoMuchoPocoErrorStockSinEnlace{color:#000000;font-size:12px; font-weight: bold;}
#pda_p15_tengoMuchoPocoErrorLabelDiv{float:left; width: 85px;}
#pda_p15_tengoMuchoPocoErrorStockDiv{float:left; width: 85px; margin-top:5px;}
#pda_p15_tengoMuchoPocoFieldsetOk{height: 42px; margin: 0; width:85px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #4F8A10;padding:2px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;}
#pda_p15_tengoMuchoPocoOkLabel{color:#4F8A10;margin:0;font-weight:bold; font-size: 9px;}
.pda_p15_tengoMuchoPocoOkStockSinEnlace{color:#4F8A10;font-size:12px; font-weight: bold;}
#pda_p15_tengoMuchoPocoOkLabelDiv{float:left; width: 85px;}
#pda_p15_tengoMuchoPocoOkStockDiv{float:left; width: 85px; margin-top:5px;}
#pda_p15_tengoMuchoPocoFieldsetAltoBajo{height: 42px; margin: 0; width:85px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #D8000C;padding:2px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;}
#pda_p15_tengoMuchoPocoAltoBajoLabel{color:#D8000C;margin:0;font-weight:bold; font-size: 9px;}
.pda_p15_tengoMuchoPocoAltoBajoStockSinEnlace{color:#D8000C;font-size:inherit; font-weight: bold;}
#pda_p15_tengoMuchoPocoAltoBajoLabelDiv{float:left; width: 85px;}
#pda_p15_tengoMuchoPocoAltoBajoStockDiv{float:left; text-align:center; width: 85px; margin:auto; margin-top:5px;}
.pda_p15_tengoMuchoPocoAltoBajoConEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit; font-weight:bold; font-size: 14px;}
.pda_p15_tengoMuchoPocoStockConEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;}
.pda_p15_tengoMuchoPocoStockConEnlaceError{color:red;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;}
.pda_p15_tengoMuchoPocoStockConEnlaceOk{color:#4F8A10;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;}
.pda_p15_tengoMuchoPocoAltoBajoConEnlaceOkUp{color:#4F8A10;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/up.gif'); background-position: left 3px; background-repeat: no-repeat; color:#4F8A10; height: 25px; padding-left: 15px;}
.pda_p15_tengoMuchoPocoAltoBajoConEnlaceOkDown{color:#4F8A10;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/down.gif'); background-position: left 3px; background-repeat: no-repeat; color:#4F8A10; height: 25px; padding-left: 15px;}
.pda_p15_tengoMuchoPocoAltoBajoStockConEnlaceUp{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/up.gif'); background-position: left 3px; background-repeat: no-repeat; height: 25px; padding-left: 15px;}
.pda_p15_tengoMuchoPocoAltoBajoStockConEnlaceDown{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/down.gif'); background-position: left 3px; background-repeat: no-repeat;  height: 25px; padding-left: 15px;}
.pda_p15_tengoMuchoPocoAltoBajoStockSinEnlaceUp{color:#D8000C;font-size:12px; font-weight: bold;background: url('../images/up.gif'); background-position: left 3px; background-repeat: no-repeat; height: 25px; padding-left: 15px;}
.pda_p15_tengoMuchoPocoAltoBajoStockSinEnlaceDown{color:#D8000C;font-size:12px; font-weight: bold;background: url('../images/down.gif'); background-position: left 3px; background-repeat: no-repeat; height: 25px; padding-left: 15px;}
#pda_p15_pedidoAutomaticoLegendActivo {background-repeat:no-repeat;color:#4F8A10;height:25px;padding-left:3px;padding-right:25px;padding-top:10px;position :absolute;top :-17px;}
#pda_p15_pedidoAutomaticoLegendNoActivo {background-repeat:no-repeat;color:#D8000C;height:25px;padding-left:3px;padding-right:25px;padding-top:10px;position :absolute;top :-17px;}
#pda_p15_pedidoAutomaticoFieldsetActivo{height: 42px;margin: 0; width:50px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #4F8A10;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;}
#pda_p15_pedidoAutomaticoFieldsetNoActivo{height: 42px;margin: 0; width:50px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #D8000C;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;cursor:pointer;}
.pda_p15_parrafoPedidoAutomaticoActivo{color:#4F8A10;margin:10px 0px;font-weight:bold;font-size:14px;}
.pda_p15_parrafoPedidoAutomaticoNoActivo{color:#0000FF;margin:10px 0px;font-weight:bold;font-size:14px;text-decoration:underline;cursor:pointer;}
/*#pda_p15_movStocks_bloque1{position:relative;text-align:center;margin-bottom:10px;}
#pda_p15_movStocks_bloque2{position:relative;height:50px;}*/
#pda_p15_movStocks_bloque3{position:relative;height:20px;}
/*#pda_p15_movStocks_bloque4{position:relative;width:234px;height:140px;}
#pda_p15_movStocks_bloqueReferencia{position:relative;width:234px;height:30px; text-align: center;}*/
#pda_p15_FFPP_div{height:auto;width:auto;vertical-align:top;}
#pda_p15_FFPP{margin-top:3px;}
#pda_p15_FFPPEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit;}
#pda_p15_PrehuecoEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:14px;font-weight:bold;}
#pda_p15_DatosReferenciaEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:14px;font-weight:bold;}
#pda_p15_SegPedidosEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:14px;font-weight:bold;}
#pda_p15_movStocksTablaEstructura {height:auto;}
.pda_p15_movStocksTablaThFecha{width:62px;text-align:center;}
.pda_p15_movStocksTablaThVentas{width:72px;text-align:center;}
.pda_p15_movStocksTablaThCorr1{width:53px;text-align:center;}
.pda_p15_movStocksTablaThCorr2{width:53px;text-align:center;}
.pda_p15_movStocksTablaTdFecha{text-align:right;}
.pda_p15_movStocksTablaTdVentas{text-align:right;}
.pda_p15_movStocksTablaTdCorr1{text-align:right;}
.pda_p15_movStocksTablaTdCorr2{text-align:right;}
.pda_p15_movStocksTablaMovimientosHoy{font-weight:bold;}
.pda_p15_movStocksTablaTdFechaHoy{text-align:center;border-bottom:2px solid !important;}
.pda_p15_movStocksTablaTdVentasHoy{text-align:right;border-bottom:2px solid !important;}
.pda_p15_movStocksTablaTdCorr1Hoy{text-align:right;border-bottom:2px solid !important;}
.pda_p15_movStocksTablaTdCorr2Hoy{text-align:right;border-bottom:2px solid !important;}
.input225{width: 225px}
.input180{width: 180px}

/*#pda_p15_bloque2_descConTipoRot{position:relative;display:inline;margin-left: 1px;margin-right: 4px;}
#pda_p15_bloque2_tipoRot{position:relative;display:inline}*/
.pda_p15_tipoRotacionAR{font-weight: bold; color:#000000; background-color: #FF0000; text-align: center; width: 30px;}
.pda_p15_tipoRotacionMR{font-weight: bold; color:#000000; background-color: #FFFF00; text-align: center; width: 30px;}
.pda_p15_tipoRotacionBR{font-weight: bold; color:#000000; background-color: #00FF00; text-align: center; width: 30px;}
.pda_p15_tipoRotacionUndef{font-weight: bold; color:#000000; background-color: #FFFFFF; text-align: center; width: 30px;}

#pda_p15_bloque2_descConUSS{float: left; margin-left: 1px;margin-right: 3px;}
#pda_p15_bloque2_USS{float: left;}
.pda_p15_tipoRotacionUSS{font-weight: bold; color:#000000; background-color: #FF0000; text-align: center; width: 30px;}

#pda_p15_movStocks_bloque1{width:99%;height:20px;text-align:center;}
#pda_p15_movStocks_bloque2{position:relative;height:50px;}
#pda_p15_movStocks_bloque4{float:left;width:234px;height:140px;}
#pda_p15_movStocks_bloqueReferencia{float:left; text-align:center;width:99%; margin-bottom: 5px;}

#pda_p15_bloque2_descConTipoRot{float:left;margin-left: 1px;margin-right: 2px;}
#pda_p15_bloque2_tipoRot{float:left;}

#pda_p15_movStocks_bloque1_subBloque1 {
    zoom: 1; /* Trigger "hasLayout" en IE6 */
    text-align: left;
}

#pda_p15_movStocks_bloque1_subBloque2{width: 40%;float: left;margin-top: 1px;margin-left: 2px;}

.bordeLanzarEncargo {border: 1px solid black;}
#pda_p15_fld_descripcionRef{font-weight:bold;color:blue !important;background-color:#c2c2c2; text-decoration: underline;}
#pda_p15_fld_descripcionReff{font-weight:bold;background-color:#c2c2c2;}
/*.linkInput{color:blue !important;background-color:#c2c2c2; text-decoration: underline;}*/