#contenidoPaginaResaltado{position:relative;left:0px;top:54px;padding:2px;height:255px;width:99%;}
#pda_p19_AreaPopupFechaActivacion{margin-bottom:3px;}
#pda_p19_FechaActivacionDivTitle {width:99%; height:15px;}
#pda_p19_div_TituloFechaActivacion {float:left;}
#pda_p19_botonCerrar{float:right;}
#pda_p19_AreaFechaActivacion {margin-top:30px; text-align: center;}
#pda_p19_FechaActivacion{color:#4F8A10 !important;font-size:12px !important;font-weight:bold !important;}
