.valorCampo{text-align:left;margin-right:1px;vertical-align:middle;font-weight:normal;}
.valorCampoResaltado{text-align:left;margin-right:1px;vertical-align:middle;font-weight:normal;color:red;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:14px;font-weight: bold;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#contenidoPaginaPromo{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;text-align:center}
.tablaCabecera{background:none repeat scroll 0 0 #E6E6E6;border:0 solid !important;margin-bottom:5px;}
.tablaContent{border:0px;margin-bottom:5px;background:#FFFFFF;}
#pda_p12_referenciasCentroPedir{height:auto;float:left;width:65px;vertical-align:middle;}
#pda_p12_tengoMuchoPoco{height:auto;width:90px;float:left;vertical-align:middle;margin-right:1px;}
#pda_p12_tengoMuchoPocoFieldsetErrorStock{height: 42px; margin: 0; width:90px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #D8000C;padding:2px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;}
#pda_p12_tengoMuchoPocoErrorStockLabel{color:#D8000C;margin:0;font-weight:bold; font-size: 9px;}
#pda_p12_tengoMuchoPocoErrorStockLabelDiv{float:left; width: 90px;}
#pda_p12_tengoMuchoPocoFieldsetError{height: 42px; margin: 0; width:90px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #000000;padding:2px 1px;position:relative;text-align:center;color:#000000;background-color:#FFFFFF;text-decoration: none;}
#pda_p12_tengoMuchoPocoErrorLabel{color:#000000;margin:0;font-weight:bold; font-size: 9px;text-decoration: none}
.pda_p12_tengoMuchoPocoErrorStockSinEnlace{color:#000000;font-size:12px; font-weight: bold;}
#pda_p12_tengoMuchoPocoErrorLabelDiv{float:left; width: 90px;}
#pda_p12_tengoMuchoPocoErrorStockDiv{float:left; width: 90px; margin-top:5px;}
#pda_p12_tengoMuchoPocoFieldsetOk{height: 42px; margin: 0; width:90px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #4F8A10;padding:2px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;text-decoration: none;}
#pda_p12_tengoMuchoPocoOkLabel{color:#4F8A10;margin:0;font-weight:bold; font-size: 9px;text-decoration: none;}
.pda_p12_tengoMuchoPocoOkStockSinEnlace{color:#4F8A10;font-size:10px; font-weight: bold;}
#pda_p12_tengoMuchoPocoOkLabelDiv{float:left; width: 90px;}
#pda_p12_tengoMuchoPocoOkStockDiv{float:left; width: 90px; margin-top:5px;}
#pda_p12_tengoMuchoPocoFieldsetAltoBajo{height: 42px; margin: 0; width:90px; font-family:Arial, Helvetica, sans-serif;font-size:20px;border:1px solid #D8000C;padding:2px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;}
#pda_p12_tengoMuchoPocoAltoBajoLabel{color:#D8000C;margin:0;font-weight:bold; font-size: 9px;}
.pda_p12_tengoMuchoPocoAltoBajoStockSinEnlace{color:#D8000C;font-size:inherit; font-weight: bold;}
#pda_p12_tengoMuchoPocoAltoBajoLabelDiv{float:left; width: 90px;}
#pda_p12_tengoMuchoPocoAltoBajoStockDiv{float:left; text-align:center; width: 90px; margin:auto; margin-top:5px;}
.pda_p12_tengoMuchoPocoAltoBajoConEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit; font-weight:bold; font-size: 14px;}
.pda_p12_tengoMuchoPocoStockConEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;}
.pda_p12_tengoMuchoPocoStockConEnlaceError{color:red;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;}
.pda_p12_tengoMuchoPocoStockConEnlaceOk{color:#4F8A10;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;}
.pda_p12_tengoMuchoPocoAltoBajoConEnlaceOkUp{color:#4F8A10;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/up.gif'); background-position: left 3px; background-repeat: no-repeat; color:#4F8A10; height: 25px; padding-left: 15px;}
.pda_p12_tengoMuchoPocoAltoBajoConEnlaceOkDown{color:#4F8A10;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/down.gif'); background-position: left 3px; background-repeat: no-repeat; color:#4F8A10; height: 25px; padding-left: 15px;}
.pda_p12_tengoMuchoPocoAltoBajoStockConEnlaceUp{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/up.gif'); background-position: left 3px; background-repeat: no-repeat; height: 25px; padding-left: 15px;}
.pda_p12_tengoMuchoPocoAltoBajoStockConEnlaceDown{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:12px; font-weight: bold;background: url('../images/down.gif'); background-position: left 3px; background-repeat: no-repeat;  height: 25px; padding-left: 15px;}
.pda_p12_tengoMuchoPocoAltoBajoStockSinEnlaceUp{color:#D8000C;font-size:12px; font-weight: bold;background: url('../images/up.gif'); background-position: left 3px; background-repeat: no-repeat; height: 25px; padding-left: 15px;}}
.pda_p12_tengoMuchoPocoAltoBajoStockSinEnlaceDown{color:#D8000C;font-size:12px; font-weight: bold;background: url('../images/down.gif'); background-position: left 3px; background-repeat: no-repeat; height: 25px; padding-left: 15px;}}
#pda_p12_pedidoAutomaticoLegendDepositoBrita{background-repeat:no-repeat;color:#4F8A10;height:25px;padding-left:3px;padding-right:25px;padding-top:10px;position :absolute;top :-17px;}
#pda_p12_pedidoAutomaticoLegendPorCatalogo{background-repeat:no-repeat;color:#4F8A10;height:25px;padding-left:3px;padding-right:25px;padding-top:10px;position :absolute;top :-17px;}
#pda_p12_pedidoAutomaticoLegendActivo{background-repeat:no-repeat;color:#4F8A10;height:25px;padding-left:3px;padding-right:25px;padding-top:10px;position :absolute;top :-17px;}
#pda_p12_pedidoAutomaticoLegendNoActivo{background-repeat:no-repeat;color:#D8000C;height:25px;padding-left:3px;padding-right:25px;padding-top:10px;position :absolute;top :-17px;}
#pda_p12_pedidoAutomaticoFieldsetDepositoBrita{height: 42px;margin: 0; width:60px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #4F8A10;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;}
#pda_p12_pedidoAutomaticoFieldsetPorCatalogo{height: 42px;margin: 0; width:60px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #4F8A10;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;}
#pda_p12_pedidoAutomaticoFieldsetActivo{height: 42px;margin: 0; width:60px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #4F8A10;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;}
#pda_p12_pedidoAutomaticoFieldsetNoActivo{height: 42px;margin: 0; width:60px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #D8000C;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;cursor:pointer;}
#pda_p12_pedidoAutomaticoFieldsetActivoMMC{height: 42px;margin: 0; width:60px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #4F8A10;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#4F8A10;background-color:#DFF2BF;}
#pda_p12_pedidoAutomaticoFieldsetNoActivoMMC{height: 42px;margin: 0; width:60px; font-family:Arial, Helvetica, sans-serif;font-size:18px;border:1px solid #D8000C;padding:3px 1px 1px 1px;position:relative;text-align:center;color:#D8000C;background-color:#FFBABA;cursor:pointer;}
.pda_p12_parrafoPedidoAutomaticoDepositoBrita{color:#4F8A10;margin:0px 0px;font-weight:bold;font-size:9px;}
.pda_p12_parrafoPedidoAutomaticoPorCatalogo{color:#4F8A10;margin:5px 0px;font-weight:bold;font-size:9px;}
.pda_p12_parrafoPedidoAutomaticoActivo{color:#4F8A10;margin:10px 0px;font-weight:bold;font-size:14px;}
.pda_p12_parrafoPedidoAutomaticoActivoLink{color:#0000FF;margin:10px 0px;font-weight:bold;font-size:14px;text-decoration:underline;cursor:pointer;}
.pda_p12_parrafoPedidoAutomaticoActivoLinkMMC{color:#0000FF;margin:10px 0px;font-size:14px;text-decoration:underline;cursor:pointer;}
.pda_p12_parrafoPedidoAutomaticoNoActivo{color:#0000FF;margin:10px 0px;font-weight:bold;font-size:14px;}
.pda_p12_parrafoPedidoAutomaticoNoActivoLink{color:#0000FF;margin:10px 0px;font-weight:bold;font-size:14px;text-decoration:underline;cursor:pointer;}
.pda_p12_parrafoPedidoAutomaticoNoActivoLinkMMC{color:#0000FF;margin:10px 0px;font-size:14px;text-decoration:underline;cursor:pointer;}
/*#pda_p12_datosReferencia_bloque1{position:relative;text-align:center;margin-bottom:10px;}
#pda_p12_datosReferencia_bloque2{position:relative;height:40px;}
#pda_p12_datosReferencia_bloque3{position: relative; margin-top: 2px; height: 20px;}
#pda_p12_datosReferencia_bloque4{position: relative; width: 232px; height: 20px; margin-top: 2px;}
#pda_p12_datosReferencia_bloqueReferencia{float:left; text-align:center;width:99%; margin-bottom: 5px;}
#pda_p12_datosReferencia_bloqueVentasMedias{position: relative; width: 232px; height: 20px; margin-top: 2px;}*/
/*#pda_p12_datosReferencia_bloque4{position: relative; width: 232px; height: 50px; margin-top: 5px;}*/
/*#pda_p12_datosReferencia_bloque5{position:relative;height:50px;width:232px;margin-top:5px;}*/
#pda_p12_FFPP_div{float:left;height:auto;width:auto;vertical-align:top;width:20px;}
#pda_p12_FFPP{float:left;padding:1px;border:1px solid;background-color: #FEFCA9;text-align:center;width:auto;}
#pda_p12_FFPP_vacio{float:left;width:65px;height:22px;}
#pda_p12_SustARef{float:left;padding:3px; border:1px solid;background-color: #DFDFFF;text-align:center;width:65px; margin: 3px 0 0;}
#pda_p12_SustPorRef{float:left;padding:3px; border:1px solid;background-color: #DFDFFF;text-align:center;width:65px; margin: 3px 0 0;}
#pda_p12_FFPPEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:10px;white-space:nowrap;}
#pda_p12_SegPedidosEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:14px;font-weight:bold;}
#pda_p12_MovStocksEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:14px;font-weight:bold;}
#pda_p12_datosReferencia_bloque3_v1{float:left;margin-left:0px;}
#pda_p12_datosReferencia_bloquePvp_v1{float:left;margin-left:0px;}
#pda_p12_datosReferencia_bloque3_v1_parr2{margin-top:3px;}
#pda_p12_datosReferencia_bloque3_v2{float:right;position:relative;}
#pda_p12_datosReferencia_bloquePvp_v2{float:right;position:relative;}
#pda_p12_datosReferencia_bloque3_v2_parr2{margin-top:3px;}
#pda_p12_datosReferencia_bloque5_parr1{margin-top:0px;margin-left:0px;float:left;width:48%}
#pda_p12_datosReferencia_bloque5_parr1X{margin-top:0px;margin-left:0px;float:left;width:42%}
#pda_p12_datosReferencia_bloque5_parr1_1{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_datosReferencia_bloque5_parr1_2{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_datosReferencia_bloque5_parr1_3{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_datosReferencia_bloque5_parr2{margin-top:0px;margin-left:0px;float:left;width:48%}
#pda_p12_datosReferencia_bloque5_parr2X{margin-top:0px;margin-left:0px;float:left;width:52%}
#pda_p12_datosReferencia_bloque5_parr2_0{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_datosReferencia_bloque5_parr2_1{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_datosReferencia_bloque5_parr2_2{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_datosReferencia_bloque5_parr2_3{margin-top:0px;margin-left:0px;width:100%;}
#pda_p12_ventasMediasTablaEstructura{height:auto;margin-left:3px;margin-top:2px;margin-right:3px;}
.pda_p12_ventasMediasTablaTh{width:60px;text-align:center;}
.pda_p12_ventasMediasTablaTd{width:60px;}
#pda_p12_imagenComercialLegendVerde{margin:0px 5px;}
#pda_p12_imagenComercialLegendRojo{ margin:0px 5px;}
#pda_p12_imagenComercialSpanVerde{color:#4F8A10;font-weight:bold;}
#pda_p12_imagenComercialSpanRojo{color:#FF0000;font-weight:bold;}
#pda_p12_imagenComercialSpanAzul{color:#0000FF;font-weight:bold;}
#pda_p12_SpanImplantacion {font-weight:bold; }
.input225{width: 225px}
.input180{width:180px}
.pda_p12_enlaceSfmOk{color:#4F8A10;cursor:pointer;text-decoration:underline;}
/*#pda_p12_bloque2_descConTipoRot{float: left; margin-left: 1px;}
#pda_p12_bloque2_tipoRot{float: right;}*/
.pda_p12_tipoRotacionAR{font-weight: bold; color:#000000; background-color: #FF0000; text-align: center; width: 30px;}
.pda_p12_tipoRotacionMR{font-weight: bold; color:#000000; background-color: #FFFF00; text-align: center; width: 30px;}
.pda_p12_tipoRotacionBR{font-weight: bold; color:#000000; background-color: #00FF00; text-align: center; width: 30px;}
.pda_p12_tipoRotacionUndef{font-weight: bold; color:#000000; background-color: #FFFFFF; text-align: center; width: 30px;}

#pda_p12_bloque2_descConUSS{float: left; margin-left: 1px;margin-right: 3px;}
#pda_p12_bloque2_USS{float: left;}
.pda_p12_tipoRotacionUSS{font-weight: bold; color:#000000; background-color: #FF0000; text-align: center; width: 30px;}

#pda_p12_datosReferencia_bloque1{width:99%;height:20px;text-align:center;}
#pda_p12_datosReferencia_bloque2{float:left;height: 50px; width:99%;}
#pda_p12_datosReferencia_bloque3{margin-top: 2px; height: 20px;float:left;}
#pda_p12_datosReferencia_bloquePvp{margin-top: 2px; height: 20px;float:left;}
#pda_p12_datosReferencia_bloque4{width: 232px; height: 20px; margin-top: 2px;float:left;}
#pda_p12_datosReferencia_bloque5{height:50px;width:232px;float:left}
#pda_p12_datosReferencia_bloqueReferencia{float:left; text-align:center;width:99%; margin-bottom: 5px;}
#pda_p12_datosReferencia_bloqueVentasMedias{width: 232px; height: 20px; margin-top: 2px;float:left;}

#pda_p12_bloque2_descConTipoRot{float: left; margin-left: 1px;margin-right: 3px;}
#pda_p12_bloque2_tipoRot{float: left;}

#pda_p12_datosReferencia_bloque1_subBloque1{width: 58%;float: left;}
#pda_p12_datosReferencia_bloque1_subBloque2{width: 40%;float:left;margin-top: 1px;margin-left: 2px;}
.bordeLanzarEncargo{border:1px solid black;}
.greenLink{color: #4F8A10;}
#pda_p12_fld_descripcionRef{font-weight:bold;color:blue !important;background-color:#c2c2c2; text-decoration: underline;}
#pda_p12_fld_descripcionReff{font-weight:bold;background-color:#c2c2c2;}
.pda_p12_cap1CuandoExisteMultConVPlanoP{margin-top: 14px !important;}
/*.linkInput{color:blue !important;background-color:#c2c2c2; text-decoration: underline;}*/
#pda_p12_datosReferencia_bloque5_parr2_0_1{width:55%;float:left;}
#pda_p12_datosReferencia_bloque5_parr2_0_2{width:45%;float:left;}



/*INICIO PDAP12 NUEVO*/

#pda_p12_datosReferencia_bloque5_areaSfm{margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p12_datosReferencia_bloque5_sfm {float:left; width:auto;}

#pda_p12_datosReferencia_bloque5_areaFacing {margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p12_datosReferencia_bloque5_facing{float: left; width: 100%}
#pda_p12_datosReferencia_bloque5_multipImc{float: left; width: 100%}
#pda_p12_datosReferencia_bloque5_multip{float: left; width:auto}
#pda_p12_datosReferencia_bloque5_imc{float: left; width:auto}

#pda_p12_datosReferencia_bloque5_capacidadVegalsa{float: left; width:auto}


#pda_p12_datosReferencia_bloque5_areaFacCap{margin-top: 0px; margin-left: 0px; float: left; width: 100%}
#pda_p12_datosReferencia_bloque5_capacidad{margin-top: 0px; margin-left: 0px; float: left; width: 50%}
#pda_p12_datosReferencia_bloque5_facingDerecha{margin-top: 0px; margin-left: 0px; float: left; width: 50%}
#pda_p12_datosReferencia_bloque5_multipImcDerecha{float: right; width: 50%}
#pda_p12_datosReferencia_bloque5_multipDerecha{float: left; width:auto}
#pda_p12_datosReferencia_bloque5_imcDerecha{float: left; width:auto}

#pda_p12_datosReferencia_bloque5_areaCap{margin-top: 0px; margin-left: 0px; float: left; width: 100%}

#pda_p12_datosReferencia_bloque5_cap1{width:50%;float:left}
#pda_p12_datosReferencia_bloque5_fac1{width:50%;float:left}

#pda_p12_datosReferencia_bloque5_cap1fac1{width:100%;float:left;}

#pda_p12_datosReferencia_bloque5_areaPlanograma{margin-top: 0px; margin-left: 0px; float: left; width: 100%}

/*FIN PDAP12 NUEVO*/
#pda_p12_msg_promo{font-weight:bold;margin-top:70px;display:block;}

/* MISUMI-428 */
#pda_p12_datosReferencia_bloqueMontajesAdicionales{float:left;height: 50px; width:99%;}
#pda_p12_datosReferencia_montajesAdicionalesMAC{height:auto;width:31%;float:left;vertical-align:middle;}
#pda_p12_datosReferencia_montajesAdicionalesMA{height:auto;width:30%;float:left;vertical-align:middle;}
.pda_p12_montajeAdicionalConEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:10px; font-weight: bold;}
/* MISUMI-648 */
#pda_p12_datosReferencia_incrementoPrevisionVenta{height:auto;width:35%;float:left;vertical-align:middle;}
#pda_p12_datosReferencia_stockMinimoEstatico{height:auto;width:31%;float:left;vertical-align:middle;}