.etiquetaCampoNegritaBulto{ text-align:right;margin-right:70px;vertical-align:middle;font-weight:bold;}
.etiquetaCampoNegritaReducido{text-align:center;margin-right:1px;font-size:0.9em;vertical-align:middle;font-weight:bold;}
.pda_p104_titulo_bulto{float: left; text-align: center; width: 25px; margin: 0 auto;}
.pda_p104_relleno_prov{float: left; text-align: center; width: 12px; margin: 0 auto;}
.pda_p104_relleno_titulo{float: left; text-align: center; width: 18px; margin: 0 auto;}
.pda_p104_titulo_descripcion{float: left; width: 135px; margin: 0 auto; }
.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.input125{width:125px}
.input200{width:200px}
.inputSinBorde{border-width:0;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:25px;height:255px;width:99%;}
.tablaContent{border:0px;margin-bottom:5px;background:#FFFFFF;}
.botonSubmitAnt{background:url("../images/pager_prev.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitSig{background:url("../images/pager_next.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitAntDes{background:url("../images/pager_prev_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitSigDes{background:url("../images/pager_next_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitGrabar{background:url("../images/finalizar_45.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:50px;margin-bottom:3px;}
#bloqueBoton{float:right;width:20%;height:45px;text-align:center;}
#pda_p104_listaProveedores_titulo{float:left;text-align:center;margin-top:10px;width:98%;}
#pda_p104_listaProveedores_bloqueError{float:left;text-align:center;width:98%;}
.pda_p104_error{font-size:12px;font-weight:bold;color:#D8000C;}
#pda_p104_listaProveedores_bloqueGuardado{float:left;text-align:center;width:98%;}
.pda_p104_guardado{font-size:12px;font-weight:bold;color:#4F8A10;}
#pda_p104_listaProveedores_bloque1{ float:left;text-align:center;margin-top:10px;margin-bottom:30px;padding-left:20px;padding-right:20px; height:140px;}
#pda_p104_filterButtons{float:left;text-align:center;width:98%;margin-top:20px;}
#pda_p104_tipoDevolucion_tituloLink{width:100%;float:left;height:15px;overflow:hidden;}
#pda_p104_realizarDevolucion_areaFlechas{width:100%;height:40px;float:left;}
#bloqueFlechas{float:left;width:100%;}
#numeroPagina{height:35px;font-weight:bold;padding-top:4px;font-size:12px;}
.paginacion{float:left;padding-left:5px;/*width:25%*/}
