#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p61_realizarDevolucionCabecera_titulo{float:left;text-align:center;width:98%;margin-bottom:10px;}
#pda_p61_realizarDevolucionCabecera_lbl_titulo{font-weight: bold;color:gray;text-decoration: underline;}
#pda_p61_realizarDevolucionCabecera_contenido{float:left;height:230px;width:98%}
.pda_p61_realizarDevolucionCabecera_bloque{height:20px;width:100%;font-weight:bold;float:left;}
.bloqueInfo{width:50%;float:left;}
.bloqueDato{width:45%;float:left;}
.pda_p61_realizarDevolucionCabecera_lbl_Info{font-weight:bold;}
.colorGray{color:gray;}
