.etiquetaCampoNegritaReducido{text-align:center;margin-right:1px;font-size:0.9em;vertical-align:middle;font-weight:bold;}
#pda_p46_guardarInvLib_titulo{float:left;text-align:center;margin-top:10px;width:98%;}
#pda_p46_guardarInvLib_mensReferencias{float:left;text-align:left;margin-top:10px;width:98%;}
.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;font:normal Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
td{padding:3px;}
.mens_sangria{margin-left:5px; float:left; clear:left;}
.mens_guardadoOk{color:#4F8A10;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif; width: 200px;}
.mens_guardadoError{color:#D8000C;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif; width: 200px;}
.mens_guardadoAviso{color:#FD9852;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif; width: 200px;}
#pda_p46_guardarInvLib_bloque1{float:left; width:220px; text-align:left; margin:50px 0px 0px 0px;}
#pda_p46_filterButtons{float:left;text-align:center;width:232px;top:180px; margin-top:50px;}
.botonAceptar{background:url("../images/dialog-accept-24.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:40px;width:40px;margin-bottom:3px;}