#contenidoPaginaResaltado{position:relative;left:0px;top:54px;padding:2px;height:255px;width:99%;}


#pda_p17_caprabo_AreaPopupImplantacion{margin-bottom:3px;}


#pda_p17_caprabo_ImplantacionDivTitle {width:99%; height:15px;}
#pda_p17_caprabo_div_TituloImplantacion {float:left;}
#pda_p17_caprabo_botonCerrar{float:right;}

#pda_p17_caprabo_AreaImplantacion {margin-top:30px; text-align: center;}
#pda_p17_caprabo_ImplantacionVerde {color:#4F8A10;}
#pda_p17_caprabo_ImplantacionRojo {color:#FF0000;}

