#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p65_devolucionErronea_titulo{float:left;text-align:center;width:98%;height: 35px;}
#pda_p65_devolucionErronea_contenido{float:left;height:220px;width:98%;}
#pda_p65_devolucionErronea_msg{width: 100%;height: 10%;text-align:center;}
#pda_p65_devolucionLineaErronea_header{width:99%;margin-top: 10px;}
.colorMsg{color:red;font-size: 15px;font-weight: bold;}
#pda_p65_devolucionErronea_icon{float:left;height:70px;width:98%;text-align: center;}