#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p100_datosReferencia_bloqueCapacidad{margin-top: 5px; height: 20px}
#pda_p100_datosReferencia_capacidadTitle_div{float:left;margin-left:10px;margin-top: 5px;}
#pda_p100_datosReferencia_bloqueOferta{margin-top: 10px; height: 30px;}
#pda_p100_datosReferencia_ofertaTitle_div{float:left;margin-left:10px;margin-top: 5px;}
#pda_p100_datosReferencia_bloqueEspacioProm{margin-top: 10px; height: 30px;}
#pda_p100_datosReferencia_espacioPromTitle_div{float:left;margin-left:10px;margin-top: 5px;}
.input75 {width: 75px;}