#contenidoPagina{background-color:white;position:relative;left:0px;top:30px;height:289px;width:99%;overflow: hidden;}

#pda_p51_lanzarEncargo_bloque1{height:20px;text-align: center;width: 100%;}
.tituloP51LanzarEncargo{font-size:14px;font-weight: bold;}

#pda_p51_lanzarEncargo_bloque2{height:20px;width: 100%;}
#pda_p51_fld_descripcionRef{width:99%;}

#pda_p51_lanzarEncargo_bloque3{height:190px;width: 100%;}
.pda_p51_lanzarEncargo_bloque3_subBloque{width: 100%;height: 33px;overflow:hidden;}
.pda_p51_lanzarEncargo_bloque3_subBloque_reducido{width: 100%;height: 25px;overflow:hidden;}
#pda_p51_lbl_lanzarEncargoFechaEntrega{color:grey;}
#pda_p51_lanzarEncargoFechaEntrega{margin-top:8px;}
#pda_p51_lanzarEncargoUc{margin-top:8px;}
.pda_p51_lanzarEncargoText{margin-top:8px;}

.pda_p51_lanzarEncargo_lbl{width:40%;float:left;height:25px;margin-top:10px}
.pda_p51_lanzarEncargo_flecha{width:20%;float:left;text-align:center;height:25px;margin-top:4px;}
.pda_p51_lanzarEncargo_info{width:40%;float:left;height:25px;}

#pda_p51_lanzarEncargo_bloque4{height:20px;text-align: center;width: 100%;margin-top:5px;}
.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}

.input90{width:90px;margin-top:7px;}

.cajaSi{cursor:pointer;width:25px;float:left;height:25px;border:1px solid black;text-align: center;line-height: 25px;}
.cajaNo{cursor:pointer;width:25px;float:left;height:25px;border:1px solid black;margin-left:15px;text-align: center;line-height: 25px;}
.linkCaja{cursor:pointer;color: #0000FF;text-decoration: underline;}

.cajaVerde{background-color: #DFF2BF;}

#hiddenInputs{display:none;}
.error{border: 1px solid red;}

.cajaSiBlock{width:25px;float:left;height:25px;border:1px solid black;text-align: center;line-height: 25px;}
.cajaNoBlock{width:25px;float:left;height:25px;border:1px solid black;margin-left:15px;text-align: center;line-height: 25px;}
.linkCajaBlock{color: #0000FF;text-decoration: underline;}

#pda_p51_lanzarEncargo_msg{float:left;color:red;font-weight:bold;}

.input95 {
	width: 95px;
}