.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.input50{width:50px}
.input90{width:90px}
.inputSinBorde{border-width:0;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p30_correccionStock_pcs_titulo{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p30_bloqueError{float:left;text-align:center;width:98%;}
.pda_p30_error{color:#D8000C;font-size:12px;font-weight:bold;}
.pda_p30_aviso{color:blue;font-size:9px;font-weight:bold;}
.pda_p30_bloqueRegistro{margin-top:3px;float:left;vertical-align:bottom;width:98%;}
.pda_p30_reg_descripcionCab{float:left;text-align:center;width:90px;margin:0 auto;}
.pda_p30_reg_bandejasCab{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p30_reg_stockCab{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p30_reg_descripcion{float:left;text-align:left;width:90px;margin:0 auto;}
.pda_p30_reg_bandejas{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p30_reg_stock{float:left;text-align:center;width:70px;margin:0 auto;}
#pda_p30_filterButtons{float:left;text-align:right;width:93%;margin-top:20px;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;}
.pda_p30_readonly{background-color:#d3d3d3}

#pda_p30_bloqueMensaje{text-align:left;margin-bottom:7px;}

#pda_p30_lbl_mensaje{font-size:11px}
.inputAzul{border:1px solid blue;}