#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p101_datosReferencia_bloqueCapacidad{margin-top: 5px; height: 20px}
#pda_p101_datosReferencia_capacidadTitle_div{float:left;margin-left:10px;margin-top: 5px;}
#pda_p101_datosReferencia_bloqueOferta{margin-top: 10px; height: 20px;}
#pda_p101_datosReferencia_ofertaTitle_div{float:left;margin-left:10px;margin-top: 5px;}
#pda_p101_datosReferencia_bloqueFechaInicio{margin-top: 10px; height: 10px;}
#pda_p101_datosReferencia_fechaInicioTitle_div{float:left;margin-left:10px;margin-top: 5px;}
#pda_p101_datosReferencia_bloqueFechaFin{margin-top: 10px; height: 10px;}
#pda_p101_datosReferencia_fechaFinTitle_div{float:left;margin-left:10px;margin-top: 0px;}
.input75 {width: 75px;}
