#contenidoPaginaResaltado{position:relative;left:0px;top:54px;padding:2px;height:255px;width:99%;}


#pda_p18_AreaPopupImpresora{margin-bottom:3px;}


#pda_p18_ImpresoraDivTitle {width:99%; height:15px;}
#pda_p18_div_TituloImpresora {float:left;}
#pda_p18_botonCerrar{float:right;}

#pda_p18_AreaMensajeImpresora {margin-top:30px; text-align: center;}
#pda_p18_MensajeImpresora{font-size:12px;font-weight:bold;color:#D8000C;}
