#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#encabezadoPopup{float:left;text-align:center;width:100%;margin-top:5px;height:1%;border:1px solid black;}
#mensajePopup{float:left;text-align:center;width:100%;height:99%;overflow:hidden;}
#logoCerrar{background-color:white;height:20px;float:right;text-align:right;right:0;z-index:1;width: 50%;float: right; height: 100%;}
#tituloPopup{width: 50%;float: left;height: 100%;}
.imagenCerrarCabecera{max-height:15px;width:15px;cursor:pointer;border:1px solid;}
.aviso{color:red;width:100%}
