#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p64_devolucionSatisfactoria_titulo{float:left;text-align:center;width:98%;height: 35px;}
#pda_p64_devolucionSatisfactoria_contenido{float:left;height:220px;width:98%;}
#pda_p64_devolucionSatisfactoria_msg{width: 100%;height: 10%;text-align:center;}
#pda_p64_devolucionSatisfactoria_header{width:99%;margin-top: 5px;}
.colorMsg{color: #4F8A10;font-size: 15px;font-weight: bold;}
#pda_p64_devolucionSatisfactoria_icono{float:left;height:140px;width:98%;text-align:center;}