#contenidoPagina{background-color:white;position:relative;left:0px;top:27px;height:282px;width:99%;overflow: hidden;}

#pda_p20_estructura_contenido{margin-bottom:10px}
#pda_p20_fotoAmpliada_contenido{height:100%;width:100%;}
