#contenidoPaginaResaltado{background-color:#FFBABA;position:relative;left:0px;top:54px;padding:2px;height:255px;width:99%;}
.tablaCabecera{background:none repeat scroll 0 0 #E6E6E6;border:0 solid !important;margin-bottom:5px;}
.tablaContent{border:0px;margin-bottom:5px;background:#FFFFFF;}
.tablaJqgrid .tablaCabecera{background:none repeat scroll 0 0 #E6E6E6;border:1 solid !important;}
.tablaJqgrid .tablaContent{border:1px;background:#FFFFFF; }
.tablaJqgrid table{border:1px solid #898989;margin:0;border-collapse:collapse; }
.tablaJqgrid th{border-bottom:1px solid #898989;border-left:1px solid #898989;font-size:1em;color:#000000}
.tablaJqgrid td{border-bottom:1px solid #898989;border-right:1px solid #898989;color:#000000;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
.tablaJqgrid .tablaTr_impar{background-color:#FFFFFF;}
.tablaJqgrid .tablaTr_par{background-color:#F3F3C3;}
.tablaJqgrid .tablaPaginacion{border:1px;background:#FFFFFF;width:100%;table-layout:fixed;}
.tablaJqgrid .paginacion{table-layout:auto;}
.tablaJqgrid .paginacionCentro{width:90px;}
.tablaJqgrid .botonPaginacion{cursor:pointer;}
.tablaJqgrid .botonPaginacionDeshabilitado{}
.barraTitulo{color:#000000;background:none repeat scroll 0 0 #E3E3D3;font-weight:bold;border:1px solid;margin-bottom:3px;height:0.9em;}
.barraTituloIconoCerrar{}
.barraTituloCerrar{float:left;}
.tituloSeccion{}
#contenidoPaginaResaltado .tituloSeccion{color:#D8000C !important;font-weight:bold;font-size:0.8em;}
.pda_p14_MotivoMapaHoySPedirS{font-weight:bold;color:inherit;text-decoration:underline;}
.pda_p14_MotivoTexto1{font-weight:normal;color:inherit;}
.pda_p14_MotivoTexto2{color:#D8000C;}

#pda_p14_AreaPopupPedirMMC .tablaJqgrid th{ padding: 1px;}

#pda_p14_AreaPopupPedirGeneral{margin-bottom:3px;}
#pda_p14_div_TituloMotNoActiva{float:left;}
#pda_p14_botonCerrar{float:right;}
#pda_p14_div_TituloMotivosMMC{float:left;}
#pda_p14_AreaPopupPedirMMC{margin-bottom:3px;}
#pda_p14_AreaPopupPedirGeneral{border:1px solid;}
#pda_p14_AreaPopupPedirMMC{border:1px solid;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid .tablaContent, #pda_p14_AreaPopupPedirMMC .tablaJqgrid .tablaContent{border:0px;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid table, #pda_p14_AreaPopupPedirMMC .tablaJqgrid table{border:0px;width:100%;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid th, #pda_p14_AreaPopupPedirMMC .tablaJqgrid th{border-bottom:0px;border-left:0px;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid td, #pda_p14_AreaPopupPedirMMC .tablaJqgrid td{border-bottom:0px;border-right:0px;}

#pda_p14_MotivoTextosStyle { width: 215px;}
#pda_p14_AreaPopupPedirGeneral .tablaJqgrid th{ padding: 1px;}
