@CHARSET "UTF-8";

#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p92_listRepoAnt_bloqueReferenciaColor{width: 100%;float: left;margin:3px;height:15%;}
#pda_p92_fld_descripcionRef{width:95%;}

#pda_p92_listRepoAnt_bloqueColor{float:left;width:100%;overflow:hidden;}
#pda_p92_fld_color{font-weight:bold;}
.p92_colorTitle{font-size:15px;}

#pda_p92_listRepoAnt_bloqueError{float:left;width:100%;}
.p92_colorError{color:red;text-align:center;}

#pda_p92_listRepoAnt_bloqueFotoRevSust{width:40%;float:left;height:100%;overflow:hidden;}
#pda_p92_listRepoAnt_bloqueFotoStockRepo{width: 100%;float: left;margin-left:3px;margin-right:3px;overflow:hidden;height:60%;font-size:20px;}
#pda_p92_listRepoAnt_bloqueFoto{width:100%;float:left;height:75%;overflow:hidden;}
#pda_p92_listRepoAnt_bloqueBotonRevisadaSustituida{width: 100%;float: left;height: 25%;}
.pda_p92_fotoPistola{vertical-align: middle;width:95%;}

#pda_p92_listRepoAnt_titulo{float:left;text-align:center;width:98%;height:5%;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}


#pda_p92_listRepoAnt_bloqueStockRepo{width:55%;float:left;height:100%;height:100%;}
#pda_p92_listRepoAnt_bloqueStockRepo_filas{width:100%;float:left;margin:1px;height:65%;}
.pda_p92_listRepoAnt_bloqueStockRepo_fila{width:100%;float:left;margin:1px;}
.pda_p92_listRepoAnt_bloqueStockRepo_descr{width:39%;float:left;text-align: center;font-weight: bold;overflow:hidden;}
.pda_p92_listRepoAnt_bloqueStockRepo_inputStock{width:30%;float:left;text-align: center;}
.pda_p92_listRepoAnt_bloqueStockRepo_inputRepo{width:30%;float:left;}
.pda_p92_listRepoAnt_bloqueStockRepo_stock{width:83%;display: block;margin: auto;}
.pda_p92_listRepoAnt_bloqueStockRepo_repo{width:83%;display: block;margin: auto;}
.pda_p92_listRepoAnt_titleBold{font-weight: bold;text-decoration:underline;text-align: center;}
#pda_p92_listRepoAnt_bloqueStockRepo_titulos{width: 100%;float: left;margin: 1px;height:10%;}
#pda_p92_listRepoAnt_bloqueStockRepo_numeroPagina{text-align:center;font-size:17px;}
#pda_p92_listRepoAnt_bloqueStockRepo_paginacion{width: 100%;float: left;margin: 1px;height:15%;}
.pda_p92_listRepoAnt_bloqueStockRepo_pag{width:33%;float:left;}
.pda_p92_listRepoAnt_bloqueStockRepo_flecha{width:65%;display: block;margin: auto;}

#pda_p92_listRepoAnt_bloqueFlechasBoton{width: 100%;float: left;margin:3px;height:5%;}
#pda_p92_listRepoAnt_bloqueFlechasBoton_paginacion{width:65%;float: left;margin: 1px;}
.pda_p92_listRepoAnt_bloqueFlechasBoton_pag{width:16%;float:left;}
.pda_p92_listRepoAnt_bloqueFlechasBoton_flecha{width:85%;display: block;margin: auto;}
#pda_p92_listRepoAnt_bloqueFlechasBoton_numeroPagina{font-size:15px;text-align:center;}


.p92_btn{width:29%;display: block;margin: auto;text-align:center;border:1px solid black;font-weight:bold;margin-right:5px;margin-bottom:5px;float:left;padding: 5px;}

#pda_p92_listRepoAnt_bloqueBoton{width:30%;float:left;}
.pda_p92_listRepoAnt_bloqueBoton_btn{float:left;width:49%;}
#pda_p92_listRepoAnt_bloqueBoton_finalizar{float:left;width:80%;display: block;margin: auto;}
#pda_p92_listRepoAnt_bloqueBoton_borrar{float:left;width:55%;display: block;margin: auto;}

.pda_p92_blueInput{border-color:blue;}
.pda_p92_redInput{border-color:red;}

.pda_p92_greenRevSust{background-color:#ccfecc;}

#pda_p92_errorListadoRepoAnt_error{text-align:center;margin-top:45px}
#pda_p92_errorListadoRepoAnt_lbl_error{color:red;font-size:12px;}


.pda_p92_helper{display:inline-block;height:100%;vertical-align: middle;}

.pda_p92_fontSize{font-size:15px;}
.pda_p92_enlaceOk{color:green;}