#pda_p51_error_bloque1{width:232px;margin-top:30%;float:left;text-align:center;width:100%}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
.mens_error{color:red;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}