.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.botonBotonera{width:50px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.input50{width:50px}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;font:normal Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p47_revisionHuecos_titulo{float:left;text-align:center;margin-bottom:10px;width:98%; height: 15px;}
#pda_p47_revisionHuecos_bloqueMensajes{float:left;text-align:center;width:98%;height:50px; height: 150px;}
#pda_p47_revisionHuecos_bloque1{float:left;text-align:center;width:98%;}
#pda_p47_revisionHuecos_bloque2{float:left;text-align:center;margin-top:10px;width:98%;}
#pda_p47_revisionHuecos_label{float:left;padding-top:6px;margin-left:20px;}
#pda_p47_revisionHuecos_campo{float:right;padding:3px;margin-right:20px;}
#pda_p47_revisionHuecos_bloqueError{float:left;text-align:center;width:98%;}
.pda_p47_error{font-size:12px;font-weight:bold;color:#D8000C;}
#pda_p47_revisionHuecos_bloqueGuardado{float:left;text-align:center;width:98%;margin-top:10px;}
.pda_p47_guardado{font-size:12px;font-weight:bold;color:#4F8A10;}
.pda_p47_resalto{display: inline; border-style: solid; border-width: 2px; border-color:#4F8A10;font-size:12px;font-weight:bold;color:#4F8A10;margin-left:auto;margin-right:auto;text-align:center;}
#pda_p47_filterButtons{float:left;text-align:center;width:98%;margin-top:20px;}
.botonSubmitGrabar{background:url("../images/gisae.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:24px;width:24px;margin-bottom:3px;}
.botonSubmitLimpiar{background:url("../images/delete.gif") no-repeat scroll 0 0;border:none;background-color:white;height:24px;width:24px;margin-bottom:3px;}