.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;font:normal Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
td{padding:3px;}
.mens_aviso{color:red;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
#pda_p03_enviarMapNumEti_bloque1{width:200px;top:20%;position:relative;margin:0 auto;}
#pda_p03_filterButtons{position:absolute;text-align:center;width:232px;top:180px;}
.botonAceptar{background:url("../images/dialog-accept-24.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:40px;width:40px;margin-bottom:3px;}
.marco{border:1px solid black;text-align:center;}
#marcoBorrar{position: absolute;width: 200px;height: 55px;}
#marcoNoBorrar{position: absolute;top: 90px;width: 200px;height: 55px;}
.linkImpr{left: 0px;position: absolute;padding: 15px;}
#pda_p03_enviarMapNumEti_bloqueTitulo{width: 200px;top: 10%;position: relative;text-align: center;margin: 0 auto;}
#pda_p03_enviarMapNumEti_lbl_title{font-size: 15px;font-weight: bold;}