.etiquetaCampoVertical{margin-bottom:3px;text-align:center;}
.etiquetaCampoVerticalNegrita{margin-bottom:3px;text-align:center;font-weight:bold;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.botonBotonera{width:50px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.input40{width:40px}
.input50{width:50px}
.input65{width:65px}
.input70{width:70px}
.input80{width:80px}
.input90{width:90px}
.input160{width:160px}
.input185{width:185px}
.inputEditable{border:1px solid #0000FF;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
.botonSubmitAnt{background:url("../images/pager_prev_25.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:25px;width:25px;margin-bottom:3px;}
.botonSubmitSig{background:url("../images/pager_next_25.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:25px;width:25px;margin-bottom:3px;}
.botonSubmitAntDes{background:url("../images/pager_prev_des_25.gif") no-repeat scroll 0 0;border:none;background-color:white;height:25px;width:25px;margin-bottom:3px;}
.botonSubmitSigDes{background:url("../images/pager_next_des_25.gif") no-repeat scroll 0 0;border:none;background-color:white;height:25px;width:25px;margin-bottom:3px;}
#pda_p42_titulo{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p42_bloque1{margin-top:3px;float:left;vertical-align:bottom;}
#pda_p42_bloque1_pagAnt{float:left;vertical-align:bottom;margin:3px;}
#pda_p42_bloque1_pagNum{float:left;width:150px;text-align:center;vertical-align:bottom;}
#pda_p42_bloque1_pagSig{float:right;vertical-align:bottom;margin:3px;}
#pda_p42_bloqueError{float:left;text-align:center;width:98%;}
#pda_p42_bloque2{float:left;margin-bottom:3px;width:99%;}
#pda_p42_bloque2_label{float:left;width: 30px}
.pda_p42_aviso{color:#D8000C;font-size:12px;font-weight:bold;}
.pda_p42_error{color:#D8000C;font-size:12px;font-weight:bold;}
#pda_p42_bloque3{float:left;text-align:center;margin-bottom:3px; width: 99%;}
#pda_p42_stockActual{float: left; margin-left: 1px;}
#pda_p42_diferencia{float:left;}
#pda_p42_fld_descStockActual{font-weight:bold; margin-left: 0px; width: 105px; font-size: 9px;}
#pda_p42_fld_descDiferencia{color:#D8000C; font-weight:bold; margin-right: 0px; width: 110px; font-size: 9px;}
.pda_p42_bloqueRegistro{margin-top:3px;float:left;vertical-align:bottom;width:98%;}
.pda_p42_bloqueSeparadorTotalesB{float:right;vertical-align:bottom;width:80%; border-bottom:1px solid #000000; height:1px; font-size:2px;}
.pda_p42_bloqueSeparadorTotalesS{float:right;vertical-align:bottom;width:60%; border-bottom:1px solid #000000; height:1px; font-size:2px;}
.pda_p42_reg_origenInventarioCabSinBandejas{float:left;text-align:center;width:160px;margin:0 auto;}
.pda_p42_reg_origenInventarioCabConBandejas{float:left;text-align:center;width:100px;margin:0 auto;}
.pda_p42_reg_bandejasCab{float:left;text-align:center;width:60px;margin:0 auto;}
.pda_p42_reg_stockCab{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p42_reg_origenInventarioSinBandejas{float:left;text-align:right;width:160px;margin:0 auto;}
.pda_p42_reg_origenInventarioConBandejas{float:left;text-align:right;width:100px;margin:0 auto;}
.pda_p42_reg_bandejas{float:left;text-align:center;width:60px;margin:0 auto;}
.pda_p42_reg_stock{float:right;text-align:center;width:70px;margin:0 auto;}
#pda_p42_inventarioLibre_filterButtons{float:left;text-align:center;bottom:10px; margin-top: 3px; width: 99%;}
.pda_p42_inventarioLibre_ButtonNoGuardarInline{float:left; width:35%;}
.pda_p42_inventarioLibre_ButtonInline{float:left;padding:1px;width:15%; height: 30px;}
.botonSubmitGrabarTodo{background:url("../images/saveAll.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:29px;width:29px;margin-bottom:3px;}
.botonSubmitGrabar{background:url("../images/floppy.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:24px;width:24px;margin-bottom:3px;}
.botonSubmitLimpiarTodo{background:url("../images/deleteAll.gif") no-repeat scroll 0 0;border:none;background-color:white;height:29px;width:29px;margin-bottom:3px;}
.botonSubmitLimpiar{background:url("../images/delete.gif") no-repeat scroll 0 0;border:none;background-color:white;height:24px;width:24px;margin-bottom:3px;}
.inputVariasUnitarias {
	background: url('../images/linea_50.gif') no-repeat center;
	background-size: 50px 10px;
}
#pda_p42_bloque2_descConTipoRot{float: left; margin-left: 1px;}
#pda_p42_bloque2_tipoRot{float: left;}
.pda_p42_tipoRotacionAR{font-weight: bold; color:#000000; background-color: #FF0000; text-align: center; width: 30px;}
.pda_p42_tipoRotacionMR{font-weight: bold; color:#000000; background-color: #FFFF00; text-align: center; width: 30px;}
.pda_p42_tipoRotacionBR{font-weight: bold; color:#000000; background-color: #00FF00; text-align: center; width: 30px;}
.pda_p42_tipoRotacionUndef{font-weight: bold; color:#000000; background-color: #FFFFFF; text-align: center; width: 30px;}