.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.botonBotonera{width:50px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.input50{width:50px}
.input225{width: 225px}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p25_ventaAnticipada_titulo{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p25_ventaAnticipada_bloqueMensajes{display:block;float:left;text-align:center;width:98%;height: 25px;}
#pda_p25_ventaAnticipada_bloque1{float:left;text-align:center;width:98%;}
#pda_p25_ventaAnticipada_bloque2{float:left;text-align:center;margin-top:3px;width:98%;}
#pda_p25_ventaAnticipada_bloque3{float:left;text-align:center;margin-top:3px;width:98%;}
#pda_p25_ventaAnticipada_label{float:left;padding-top:6px;margin-left:20px;}
#pda_p25_ventaAnticipada_campo{float:right;padding:3px;margin-right:20px;}
#pda_p25_ventaAnticipada_bloqueError{float:left;text-align:center;width:98%;}
.pda_p25_error{font-size:12px;font-weight:bold;color:#D8000C;}
#pda_p25_ventaAnticipada_bloqueGuardado{float:left;text-align:center;width:98%;}
.pda_p25_guardado{font-size:12px;font-weight:bold;color:#4F8A10;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;}
#pda_p25_filterButtons{float:left;text-align:right;width:93%;margin-top:20px;}