#contenidoPagina{background-color:white;position:relative;left:0px;top:27px;height:282px;width:99%;overflow: hidden;}

#pda_p69_ordenDeRetiradaDetalle_contenido{float:left;height:220px;width:98%;}

#pda_p69_ordenDeRetiradaDetalle_msg{float:left;height:40px;width:98%;margin-left: 10px;}
#pda_p69_ordenDeRetiradaDetalle_datos{float:left;width:98%;margin-left: 10px;}
.pda_p69_lbl_Info{font-weight: bold;font-size: 16px;}
.bloqueEntero{width:98%;float:left;height:15px;;margin-top:7px;}
.ordenDeRetiradaDetalle{width:100%;float:left;margin-top: 15px;}
.ordenDeRetiradaDetalleInfo{width:100%;height:90%;margin-top:5px;}
.ordenDeRetiradaDetalleTitle{width:100%;height:10%;margin-top:5px;}
.ordenDeRetiradaDetalleTitleInfo{width:100%;margin-top:5px;}
.valorCampo{margin-left:15px;font-size: 15px;}
.ordenDeRetiradaDetalleTitleInfo>.valorCampo{margin-left:5px}
.ordenDeRetiradaDetalle.conTextil{margin-top:5px}
.conTextil label{font-size:11px}
.conTextil>div{height:15px;margin-top:2px;}