#pda_p03_error_bloque1{width:232px;top:30%;position:relative;text-align:center;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
.mens_error{color:red;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}