#contenidoPaginaResaltado{background-color:#FFFFFF;position:relative;left:0px;top:54px;padding:2px;height:255px;width:99%;}
.tablaCabecera{background:none repeat scroll 0 0 #E6E6E6;border:0 solid !important;margin-bottom:5px;}
.tablaContent{border:0px;margin-bottom:5px;background:#FFFFFF;}
.barraTitulo{color:#000000;background:none repeat scroll 0 0 #E3E3D3;font-weight:bold;border:1px solid;margin-bottom:3px;height:0.9em;}
.barraTituloIconoCerrar{}
.barraTituloCerrar{float:left;}
.pda_p14_Fecha{font-weight:bold;color:inherit; margin-left: 30px}
.pda_p14_Texto{font-weight:normal;color:inherit; margin-left: 30px}

#pda_p14_AreaPopupPedirGeneral{margin-bottom:3px;}
#pda_p14_div_TituloMotActiva{float:left;}
#pda_p14_botonCerrar{float:right;}

