#contenidoPagina{background-color:white;position:relative;left:0px;top:27px;height:282px;width:99%;overflow: hidden;}

#pda_p71_noExisteRefDevLin_contenido{float:left;height:220px;width:98%;}
#pda_p71_noExisteRefDevLin_mensaje{width: 100%;height: 90%;text-align: center;margin-top:20px;}
.pda_p71_colorLetra{font-weight: bold;font-size: 15px;}