#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}

#pda_p67_devolucionLinea_contenido{float:left;height:220px;width:98%;}

#pda_p67_errorDevolucionLinea_msg{width: 100%;height: 90%;text-align: center;margin-top: 20px;}
.colorMsgRed{color:red;font-size: 10px;font-weight: bold;}
#pda_p67_errorDevolucionLinea_icon{float:left;height:70px;width:98%;text-align: center;}
#pda_p67_errorDevolucionLinea_error{height:75%;width:99%}
#pda_p67_errorDevolucionLinea_header{font-weight: bold;font-size: 15px;}

#pda_p67_devolucionLinea_msg{float:left;height:80px;width:98%;margin-left: 10px;}
.colorMsgGreen{color:green;font-size: 10px;font-weight: bold;}
#pda_p67_devolucionLinea_icon{float:left;height:70px;width:98%;text-align: center;}
#pda_p67_devolucionLinea_actualizado{height:45%;width:99%}
#pda_p67_devolucionLinea_header{height:55%;width:99%}