*{margin:0;padding:0;border:0;list-style-type:none;font:normal 12px Verdana,Arial,Tahoma,Helvetica,sans-serif;color:#000000;}
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td{ margin:0;padding:0;}
html{overflow-x:hidden;overflow-y:hidden;} /*solo se muestran los scroll cuando son necesarios*/
body{width:240px;height:320px;background:white;}
label{padding:1px;vertical-align:middle}
input,textarea{border:1px solid #888888;}
input[type="text"]{color:#000000;font:normal 1em;vertical-align:middle;padding:2px;}
select,option{background:transparent}
select,option{padding:0px;border:1px solid #888888; vertical-align:middle}
fieldset{width:100%;float:left;margin:0px 0px 5px 0px;padding:0px 0px 5px 0px;border:1px solid #d2d2d2;}
legend{padding:0 0;margin:0px 15px;font-weight:bold;font-size:100%}
a{outline:none;color:#0000FF;cursor:pointer;text-decoration:underline;}
a:hover{color:#084B8A !important;text-decoration:underline !important}
h2,h3,h4,h5,h6{margin:0 0 12px;font:bold 1em Tahoma;color:#666}
h2{font:normal 2.1em Trebuchet MS;}
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1.1em}
h6{font-size:1em}
dl{display:none}
table{margin:0px 0;border-collapse:separate;border-bottom:0px solid #898989}
th,td{padding:0px}
th{border-bottom:1px solid #898989;border-left:1px solid #fbfbfb;font-size:1em;color:#000000}
td{border-bottom:0px solid #000000;color:#000000;font:11px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
hr{width:100%;clear:both;height:1px;margin:15px 0 20px;border:0;background:#c6c7c9;color:#c6c7c9}
acronym,abbr{cursor:help;border:0;border-bottom:1px dotted #c6c7c9}
blockquote,cite{cursor:auto}
blockquote{margin:10px 0 0}
code{}
address{display:inline;font-style:normal}
kbd{line-height:2em;font:normal .8em "Lucida console",Courier,monospace;border-top:.15em solid #ccc;border-right:.25em solid #aaa;border-bottom:.3em solid #888;border-left:.2em solid #bbb;padding:.05em .2em;margin:0 1.5px;color:#000;background:#eee;vertical-align:text-bottom;cursor:help}
dfn{}
p{margin:0 0 10px;line-height:1.5em}
.etiquetaCampo{ text-align:right;margin-right:1px;vertical-align:middle;}
.etiquetaCampoNegrita{ text-align:right;margin-right:1px;vertical-align:middle;font-weight:bold;}
.enlaceNormal{ text-align:right;margin-right:1px;color:blue;}
.enlaceVerde{ text-align:right;margin-right:1px;color:green;}
.botonFormulario{float:left;background:#e2e2e2;padding-top:0px;padding-bottom:0px;padding-left:2px;padding-right:2px;font:normal 1em;height:16px;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.input40{width:40px}
.input100{width:100px}
.input120{width:120px}
.input150{width:150px}
.inputResaltado{border:1px solid #FF0000;}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto; border:1px solid white;font:normal   Verdana,Arial,Tahoma,Helvetica,sans-serif;color:#000000;}
#cabecera{background-color:white; height:52px;	width:236px;position:absolute;border-bottom:1px solid #7A7878;margin:0 auto;z-index:1;}
#cabeceraSinLinea{background-color:white; height:25px;	width:236px;position:absolute;margin:0 auto;z-index:1;}
#Logo{background-color:white;height:20px;float:left;text-align:left;}
#LogoCerrar{background-color:white;height:20px;float:right;text-align:right;right:0;z-index:1;}
#pda_p01_impresora{height:24px;float:left;text-align:left; margin-left: 28px;}
.divImpresora{float:left;padding-right: 1px;}
#pda_p01_datosCentro{background-color:white;float:left;margin-top:4px;margin-right:3px;text-align:left;z-index:1;height:20px;}
#pda_p01_datosArticulo{float:left;width:98%;}
#pda_p01_referencia{background-color:white;float:left; text-align:left;z-index:1;clear:left;}
#pda_p01_referenciaConSeccion{background-color:white;float:left; text-align:left;z-index:1;clear:left; margin-top:2px;}
#pda_p01_seccion{background-color:white;float:left; text-align:left;z-index:1;}
#pda_p01_referencia_botonera{background-color:white;text-align:left;float:right;z-index:1;right:0px;}
td{padding:3px;}
.imagenLogoCabecera{max-height:15px;width:15px;}
.imagenInicioCabecera{max-height:24px;width:40px;cursor:pointer;}
.imagenCerrarCabecera{max-height:15px;width:15px;cursor:pointer;border:1px solid;}
.mens_error{color:red;font:12px Verdana,Arial,Tahoma,Helvetica,sans-serif; margin-left: 5px;}
.botonAceptarCabecera{background:url("../images/dialog-accept-16.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:0px;}
#linkEtiqueta{float: left;}
#divNumeroEtiqueta{float: left;padding-top: 5px;padding-right: 4px;width: 14px;}
#inputNumeroEtiqueta{background: white;border: none;width: 16px;}
#mensErrorpda01{width:140px;float:right;padding-left: 5px;text-align: center;border-left: 1px solid #ff0000;color:red;}
#mensErrorpda02{width:140px;float:right;padding-left: 5px;text-align: center;border-left: 1px solid #ff0000;color:red;}
/*#validarCantidadesExtra{color:red;padding: 3px;margin-bottom: 3px;font-size:8px;}*/
#validarCantidadesExtra{color:red;padding: 3px;margin-bottom: 3px;margin-top:3px;font-size:10px;}
#validarCantidadesExtraMini{color:red;font-size:8px;}
#realizarDevoluciones{color:red;padding: 3px;margin-bottom: 3px;margin-top:3px;font-size:10px;}
#realizarDevolucionesMini{color:red;font-size:8px;border-top: 1px solid #ff0000;}
#realizarDevolucionesUrgente{color:red;font-size:12px;}
#aviso{background-color:white;float:left;margin-top:5px;width:78px;border: 1px solid #0000FF;text-align: center;}
#avisosLink{width:100%;height:100%;display: block;}
