.etiquetaCampoVertical{margin-bottom:3px;text-align:center;}
.etiquetaCampoVerticalNegrita{margin-bottom:3px;text-align:center;font-weight:bold;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.botonFormulario{float:left;background:#e2e2e2;padding-top:0px;padding-bottom:0px;padding-left:2px;padding-right:2px;font:normal 1em;height:16px;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.botonBotonera{width:50px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.input40{width: 40px}
.input70{width:70px}
.input225{width: 225px}
.inputEditable{border:1px solid #0000FF;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
.botonSubmitAnt{background:url("../images/pager_prev.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitSig{background:url("../images/pager_next.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitAntDes{background:url("../images/pager_prev_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitSigDes{background:url("../images/pager_next_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:16px;width:16px;margin-bottom:3px;}
#pda_p22_capacidad_titulo{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p22_capacidad_bloque1{float:left;text-align: center;width:98%; margin-bottom: 10px;}
#pda_p22_capacidad_bloque2{margin-top:3px;float:left;vertical-align:bottom;}
#pda_p22_capacidad_bloqueMensajes {float: left; text-align: center; width: 98%;margin-bottom: 5px;}
#pda_p22_capacidad_bloqueError{float:left;text-align:center;width:98%;}
#pda_p22_capacidad_bloqueGuardado{float:left;text-align:center;width:98%;}
#pda_p22_capacidad_bloque3{float:left;text-align:center;margin-bottom:10px;}
#pda_p22_capacidad_bloque4{float:right;margin-bottom:10px;text-align:center;}
#pda_p22_capacidad{text-align:right;float:right;padding-right:60px;}
#pda_p22_facing{text-align:right;float:right;padding-right:60px;}

#pda_p22_capacidad_bloque5{float:right;width:98%;text-align:center;margin-bottom:30px;}


#pda_p22_capacidad_bloque6_con_multiplicador{float:left;text-align:center;margin-bottom:10px;}

#pda_p22_capacidad_bloque_ffpp{float:left;width:50%;margin-bottom:25px; margin-top: 5px;}
#pda_p22_capacidad_bloque_Imagen_ffpp{float:left;width:38%;margin-bottom:10px;text-align: center; margin-left: 8%;}
#pda_p22_capacidad_ffpp{text-align:right;float:right;}
#pda_p22_facing_ffpp{text-align:right;float:right;}
#pda_p22_imagenMinimaComercial_ffpp{text-align:center;border:1px solid #000000;height:61px;}

#pda_p22_capacidad_bloque_con_multiplicador{float:left;width:50%;height:84px;margin-bottom:5px;}
#pda_p22_capacidad_bloque_con_multiplicador_llave{float:left;width:8%;height:84px;text-align: center;}
#pda_p22_capacidad_bloque_con_multiplicador_Imagen{float:left;width:38%;height:84px;margin-bottom:5px;text-align: center;}

#pda_p22_fld_facing_con_multiplicador{width:25px;margin-bottom: 10px;}
#pda_p22_fld_capacidad_con_multiplicador{width:25px;margin-bottom: 10px;}
#pda_p22_fld_multiplicador{width:25px;margin-bottom: 10px;}
#pda_p22_fld_imagenMinimaComercial_con_multiplicador {width:35px;text-align: center;}

#pda_p22_capacidad_con_multiplicador{text-align:right;float:right;}
#pda_p22_facing_con_multiplicador{text-align:right;float:right;}
#pda_p22_multiplicadorFacing{text-align:right;float:right;}
#pda_p22_imagenMinimaComercial_con_multiplicador{text-align:center;border:1px solid #000000;margin-top:13px;height:61px;}
#pda_p22_llave_con_multiplicador {text-align:center;border:1px solid #000000;margin-top:40px;height:40px;}
.pda_p22_imagen_llave{height:50px;margin-top: 26px;}

#pda_p22_filterButtons{float:left;text-align:right;width:93%;}
#pda_p22_filterButtonsSoloConsulta{float:left;text-align:center;width:180px;bottom:10px;padding-left:87px;}
.pda_p22_imagen_estado{width:22px;}
#pda_p22_capacidad_bloque1_label{float:left;padding-top:6px;}
#pda_p22_capacidad_bloque1_campo{text-align: center;}
#pda_p22_capacidad_bloque2_pagAnt{float:left;vertical-align:bottom;margin:3px;}
#pda_p22_capacidad_bloque2_pagNum{float:left;width:170px;text-align:center;vertical-align:bottom;}
#pda_p22_capacidad_bloque2_pagSig{float:right;vertical-align:bottom;margin:3px;}
.pda_p22_guardado{font-size:12px;font-weight:bold;color:#4F8A10;margin-bottom:0px;}
.pda_p22_error{font-size:12px;font-weight:bold;color:#D8000C;margin-bottom:0px;}
#pda_p22_capacidad_stock{float:left;text-align:center;width:85px;padding-top:5px;}
#pda_p22_capacidad_Estado{float:left;text-align:center;width:60px;margin:0 auto;}
#pda_p22_capacidad_diasStock{float:right;text-align:center;width:85px;padding-top:5px;}
#pda_p22_capacidad_EstadoLabel{text-align:center;}
#pda_p22_capacidad_EstadoIcono{text-align:center;}
.pda_p22_ButtonInline{float:left;padding:3px;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;}