#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p105_msgAccionSiNo_contenido{float:left;height:220px;width:98%;margin-top: 30px;}
#pda_p105_msgAccionSiNo_msg{float:left;height:35px;width:98%;margin-left: 5px;}
#pda_p105_msgAccionSiNo_button{float: left;height: 35px;width: 98%;margin-left: 10px;margin-top: 15px;}

.colorMsg{font-weight: bold;}
.buttonAccionSi{margin-left: 40px;}
.buttonAccionNo{margin-left: 20px;}
