.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.botonBotonera{width:50px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.input70{width:70px}
.input30{width:30px;}
.input225{width: 225px}
.inputEditable{border:1px solid #0000FF;}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;font:normal Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#pda_p33_imc_titulo_tipo_ref{float:left;text-align:center;width:98%;}
#pda_p33_lbl_titulo_tipo_ref{font-weight:bold;color:#D8000C;}
#pda_p33_imc_error{float:left;text-align:center;width:98%;}
#pda_p33_fld_error{font-weight:bold;color:red;}
#pda_p33_imc_titulo{float:left;text-align:center;width:98%;}
#pda_p33_imc_bloque_1{float:left;text-align: center;width:98%;margin-top:8px;}
#pda_p33_imc_bloque_2{float:left;width:100%;text-align:center;height:70px;margin-top:5px;}
#pda_p33_imc_bloque_2_1{float:left;width:120px;margin-top:8px;}
#pda_p33_imc_bloque_2_2{float:left;width:17px;text-align: center;margin-top:8px;}
#pda_p33_imc_bloque_2_3{float:left;width:80px;text-align: center;margin-top:8px;}
#pda_p33_imagenMinimaComercial{text-align:center;border:1px solid #000000;height:61px;}
#pda_p33_fld_imagenMinimaComercial{width:35px;text-align: center;}
.pda_p33_lbl_80{width:80px;text-align:right;margin-right:3px;float:left;}
.pda_p33_input_30{width:36px;text-align:left;float:left;}
.pda_p33_input_70{width:76px;text-align:left;float:left;}
.pda_p33_imagen_llave{height:50px;margin-top: 5px;}
#pda_p33_loading{float:left;text-align:right;width:75%;margin-top:15px;}
#pda_p33_Buttons{float:left;text-align:right;width:20%;margin-top:5px;}
.pda_p33_guardado{font-size:12px;font-weight:bold;color:#4F8A10;}
.pda_p33_error{font-size:12px;font-weight:bold;color:#D8000C;}
#pda_p33_facing_Estado{float:left;text-align:center;width:98%;margin:0 auto;}
#pda_p33_facing_EstadoLabel{text-align:center;width:98%;}
#pda_p33_facing_EstadoIcono{text-align:center;width:98%;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;float:right;}

.pda_p33_redInput{border-color:red;}