#contenidoPagina{background-color:white;position:relative;left:0px;top:25px;height:255px;width:99%;}
#pda_p102_tipoDeDevolucion_tituloGeneral{text-align:center;width:100%;height:20px;}
#pda_p102_tipoDeDevolucion_tituloDevolucion{text-align:center;width:100%;height:20px;}
#pda_p102_tipoDevolucion_titulo{width:100%;float:left;height:15px;overflow:hidden;}
#pda_p102_tipoDevolucion_tituloLink{width:100%;float:left;height:15px;overflow:hidden;}
.pda_p102_lbl_negrita{font-weight: bold;}
#pda_p102_descArticulo_bloque{height:20px;width:100%;margin-left:4px;padding:2px}
#pda_p102_descArticulo{height:25px;width:100%;float:left;}
.input50{width:50px}
.input215{width: 215px;font-weight: bold;}
#pda_p102_bloqueDatos{float:left;vertical-align:bottom;width:98%;}
#pda_p102_reg_cantidadCab{float:left;text-align:right;width:96px;margin:0 auto;font-weight: bold;}
#pda_p102_reg_blancoCab{float:left;text-align:center;width:5px;margin:0 auto;font-weight: bold;}
#pda_p102_reg_bultoCab{float:left;text-align:left;width:100px;margin:0 auto;font-weight: bold;}
#pda_p102_lbl_cantidadCab{font-weight: bold;}
#pda_p102_lbl_bultoCab{font-weight: bold;}
.pda_p102_reg_cantidad{float:left;text-align:right;width:95px;margin:0 auto;font-weight: bold;margin-right: 2px;}
.pda_p102_reg_bulto{float:left;text-align:left;width:55px;margin:0 auto;font-weight: bold;}
.pda_p102_reg_blanco{float:left;text-align:left;width:5px;margin:0 auto;}
.pda_p102_reg_eliminar{float:left;text-align:left;width:15px;margin:0 auto;}
.pda_p102_reg_cajaBulto{float:left;text-align:left;width:15px;margin:0 auto;}
#pda_p102_btn_save{float:right;}
#pda_p102_filterButtons{float:left;width:93%;margin-top:15px;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;}
.botonSubmitEliminar{background:url("../images/dialog-cancel-14.png") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:14px;width:14px;}
.botonSubmitEstadoBulto{background:url("../images/cajaPequena.png") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:14px;width:14px;}
.pda_p102_Error{color:#D8000C;font-size:9px;font-weight:bold;margin-left:10px;}
.pda_p102_Error2{color:#D8000C;font-size:9px;font-weight:bold;margin-left:15px;}
.pda_p102_Error3{color:#D8000C;font-size:9px;font-weight:bold;margin-left:22px;}
#pda_p102_bloqueError{float:left;width:98%;height:10px;padding-top: 5px;}
.pda_p102_Aviso{color:#000000;font-size:9px;font-weight:bold;margin-left:20px;}
#pda_p102_bloqueAvisoPesoVariable{float:left;width:98%;height:10px;padding-top: 5px;}
.pda_p102_readonly{background-color:#d3d3d3}
