.etiquetaCampoNegritaReducido{text-align:center;margin-right:1px;font-size:0.9em;vertical-align:middle;font-weight:bold;}
.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.input125{width:125px}
.inputSinBorde{border-width:0;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:25px;height:255px;width:99%;}
.tablaContent{border:0px;margin-bottom:5px;background:#FFFFFF;}
.botonSubmitAnt{background:url("../images/pager_prev.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitSig{background:url("../images/pager_next.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitAntDes{background:url("../images/pager_prev_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:16px;width:16px;margin-bottom:3px;}
.botonSubmitSigDes{background:url("../images/pager_next_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:16px;width:16px;margin-bottom:3px;}
#pda_p21_sfm_bloque2{margin-top:3px;float:left;vertical-align:bottom;}
#pda_p21_sfm_bloque2_pagAnt{float:left;vertical-align:bottom;margin:3px;}
#pda_p21_sfm_bloque2_pagNum{float:left;width:170px;text-align:center;vertical-align:bottom;}
#pda_p21_sfm_bloque2_pagSig{float:right;vertical-align:bottom;margin:3px;}
#pda_p29_correccionStockSeleccion_titulo{float:left;text-align:center;margin-top:10px;width:98%;}
#pda_p29_correccionStockSeleccion_bloqueError{float:left;text-align:center;width:98%;}
.pda_p29_error{font-size:12px;font-weight:bold;color:#D8000C;}
#pda_p29_correccionStockSeleccion_bloqueGuardado{float:left;text-align:center;width:98%;}
.pda_p29_guardado{font-size:12px;font-weight:bold;color:#4F8A10;}
#pda_p29_correccionStockSeleccion_bloque1{ float:left;text-align:center;margin-top:10px;margin-bottom:30px;padding-left:20px;padding-right:20px; height:140px;}
#pda_p29_filterButtons{float:left;text-align:center;width:98%;margin-top:20px;}