#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden}
#pda_p80_pedirRmaDevolucion_contenido{float:left;height:220px;width:98%;margin-top: 30px}
#pda_p80_pedirRmaDevolucion_err,
#pda_p80_pedirRmaDevolucion_msg{float:left;height:35px;width:98%;margin-left: 5px}
#pda_p80_pedirRmaDevolucion_button{float: left;height: 35px;width: 98%;margin-left: 10px;margin-top: 15px}
.mens_error,
.colorMsg{font-weight: bold}
.buttonFinalizarSi{margin-left: 40px}
.buttonFinalizarNo{margin-left: 20px}