*{margin:0;padding:0;border:0;list-style-type:none;font:normal 11px Verdana,Arial,Tahoma,Helvetica,sans-serif;color:#000000;}
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td{ margin:0;padding:0;}
html{overflow-x:hidden;overflow-y:hidden;} /*sï¿½lo se muestran los scroll cuando son necesarios*/
body{width:240px;height:320px;background:white;}
label{padding:1px;vertical-align:middle}
input,textarea{border:1px solid #888888;}
input[type="text"],input[type="password"]{color:#000000;font:normal 1em;vertical-align:middle;padding:2px;}
select,option{background:transparent}
select,option{padding:0px;border:1px solid #888888; vertical-align:middle}
fieldset{width:100%;float:left;margin:0px 0px 5px 0px;padding:0px 0px 5px 0px;border:1px solid #d2d2d2;}
legend{padding:0 0;margin:0px 15px;font-weight:bold;font-size:100%}
a{outline:none;color:#0000FF;cursor:pointer;text-decoration:underline;}
a:hover{color:#084B8A !important;text-decoration:underline !important}
h2,h3,h4,h5,h6{margin:0 0 12px;font:bold 1em Tahoma;color:#666}
h2{font:normal 2.1em Trebuchet MS;}
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1.1em}
h6{font-size:1em}
dl{display:none}
table{margin:0px 0;border-collapse:separate;border-bottom:0px solid #898989}
th,td{padding:0px}
th{border-bottom:1px solid #898989;border-left:1px solid #fbfbfb;font-size:1em;color:#000000}
td{border-bottom:0px solid #000000;color:#000000;font:11px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
hr{width:100%;clear:both;height:1px;margin:15px 0 20px;border:0;background:#c6c7c9;color:#c6c7c9}
acronym,abbr{cursor:help;border:0;border-bottom:1px dotted #c6c7c9}
blockquote,cite{cursor:auto}
blockquote{margin:10px 0 0}
code{}
address{display:inline;font-style:normal}
kbd{line-height:2em;font:normal .8em "Lucida console",Courier,monospace;border-top:.15em solid #ccc;border-right:.25em solid #aaa;border-bottom:.3em solid #888;border-left:.2em solid #bbb;padding:.05em .2em;margin:0 1.5px;color:#000;background:#eee;vertical-align:text-bottom;cursor:help}
dfn{}
p{margin:0 0 10px;line-height:1.5em}
.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.botonHover:hover{color:#08088A;text-decoration:none;background:#d3d3d3;/*#e6e6e6;*/}
.input85{width:85px}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto; border:1px solid white;font:normal   Verdana,Arial,Tahoma,Helvetica,sans-serif;color:#000000;}
#cabeceraLogin{background-color:white; height:44px;	width:236px;position:absolute;margin:0 auto;}
#LogoLogin{background-color:white;height:50px;	text-align:left; left:0;padding:15px;float:left;}
/* #Logo2Login{background-color:white;float:left;height:50px;margin-left:82px;padding-left:15px;padding-top:15px;text-align:right;} */
#Logo2Login{background-color:white;float:left;height:50px;margin-left:82px;padding-left:8px;padding-top:15px;text-align:right;}
#LogoCerrarLogin{background-color:white;height:20px;text-align:right;right:0;float:right;z-index:1;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
#globalErrors{background-color:white; height:auto;width:220px;margin-top:20px; color:red;margin:0 auto;text-align:center;}
#login{background-color:white;margin-top:20px;margin:0 auto;width:220px;padding-top:40px;}
#login table{display:block;border-collapse:separate;border-spacing:5px 20px;width:200px;margin:0 auto;}
#login tr,td{padding:3px;}
.pda_p10_columnaIzda{text-align:left;}
.pda_p10_columnaDcha{text-align:right;}
.mens_error{color:red;font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;}
.imagenLogoLogin{max-height:30px;width:30px;}
.imagenLogo2Login{max-height:30px;width:30px;}
.imagenCerrarCabecera{max-height:15px;width:15px;cursor:pointer;border:1px solid;}