.valorCampo{ text-align:left;margin-right:1px;vertical-align:middle;font-weight:normal;}
.botonBotonera{width:50px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.botonBotoneraGrande{width:100px;display:inline-block;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;} /* the overflow property removes extra width in IE */
.input50{width:50px}
.input135{width:135px}
.inputSinBorde{border-width:0;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
.botonSubmitAnt{background:url("../images/pager_prev_25.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:25px;width:25px;margin-bottom:3px;}
.botonSubmitSig{background:url("../images/pager_next_25.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:25px;width:25px;margin-bottom:3px;}
.botonSubmitAntDes{background:url("../images/pager_prev_25_des.gif") no-repeat scroll 0 0;border:none;background-color:white;height:25px;width:25px;margin-bottom:3px;}
.botonSubmitSigDes{background:url("../images/pager_next_des_25.gif") no-repeat scroll 0 0;border:none;background-color:white;height:25px;width:25px;margin-bottom:3px;}
#pda_p45_correccionStock_pcn_titulo{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p45_correccionStock_pcn_titulo2{float:left;text-align:center;margin-bottom:5px;width:98%;}
#pda_p45_bloqueError{float:left;text-align:center;width:98%;}
.pda_p45_error{color:#D8000C;font-size:12px;font-weight:bold;}
#pda_p45_bloque1{float:left;}
#pda_p45_bloque1_pagAnt{float:left;vertical-align:bottom;margin:3px;}
#pda_p45_bloque1_pagNum{float:left;width:150px;text-align:center;vertical-align:bottom;}
#pda_p45_bloque1_pagSig{float:right;vertical-align:bottom;margin:3px;}
.pda_p45_bloqueRegistro{margin-top:3px;float:left;vertical-align:bottom;width:98%;}
.pda_p45_reg_tipoCab{float:left;text-align:center;width:25px;margin:0 auto;}
.pda_p45_reg_descripcionCab{float:left;text-align:center;width:135px;margin:0 auto;}
.pda_p45_reg_stockCab{float:left;text-align:center;width:70px;margin:0 auto;}
.pda_p45_reg_tipo{float:left;text-align:center;width:25px;margin:0 auto;}
.pda_p45_reg_descripcion{float:left;text-align:left;width:135px;margin:0 auto;}
.pda_p45_reg_stock{float:left;text-align:center;width:70px;margin:0 auto;}
#pda_p45_filterButtons{float:left;text-align:right;width:93%;margin-top:20px;}
.pda_p45_bloqueDatos{height:170px;}
.botonSubmitGrabar{background:url("../images/floppy_30.gif") no-repeat scroll 0 0;border:none;background-color:white;cursor:pointer;height:30px;width:30px;margin-bottom:3px;}