#contenidoPagina {
    font-family: Arial, sans-serif;
    margin: 0px;
}

#pda_p108_consultaPorMatricula_titulo {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#pda_p108_lbl_titulo {
	
	margin-left: 25px;
    font-weight: bold;
}

#pda_p108_consultaPorMatricula_contenido {
    padding-top: 10px;
    margin-top: 30px;
    
}

#pda_p108_datosArticulo {
    margin-bottom: 0px;
}

#pda_p108_matriculaArticulo {
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

#pda_p108_bultosArticulo,
#pda_p108_cantidadArticulo,
#pda_p108_tipoCantidadArticulo,
#pda_p108_altaArticulo {
    font-size: 9px;
    line-height: 1.3;
    margin-bottom: 5px;
    display: inline-block;
}


#pda_p108_albaranFecha,
#pda_p108_articuloDescripcion {
    display: inline-block;
    width: 100%;
    font-size: 10px;
}

#pda_p108_articuloDescripcion {
    font-weight: bold;
    color: blue !important;
    background-color: #c2c2c2;
    text-decoration: underline;
}

#pda_p108_albaranFecha span {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .bloqueArticulo {
        font-size: 8px;
        padding: 4px 5px;
    }
    #pda_p108_albaranFecha span {
        font-size: 8px;
    }
    #pda_p108_bultosArticulo,
    #pda_p108_cantidadArticulo,
    #pda_p108_tipoCantidadArticulo,
    #pda_p108_altaArticulo {
        font-size: 8px;
    }
}
contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
pda_p107_entradasPalets_titulo{float:left;text-align:center;width:98%;height: 15px;}
pda_p107_lbl_titulo{font-weight: bold;font-size: 10px;}
pda_p107_entradasPalets_contenido{float:left;height:200px;width:98%}
pda_p107_entradasPalets_areaLinks{width:100%;height:100%;float:left;padding-left: 15px;}
#pda_p107_entradasPalets_areaFlechas{width:100%;height:40px;float:left;position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;}

bloqueFlechas{float:left;width:100%;}
numeroPagina{height:35px;font-weight:bold;padding-top:4px;font-size:12px;}
paginacion{float:left;padding-left:5px;width:25%}
mens_error{font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;color:red;text-align:center;}
