#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p107_entradasPalets_titulo{float:left;text-align:center;width:98%;height: 15px;}
#pda_p107_lbl_titulo{font-weight: bold;font-size: 10px;}
#pda_p107_entradasPalets_contenido{float:left;height:200px;width:98%}
#pda_p107_entradasPalets_areaLinks{width:100%;height:100%;float:left;}
#pda_p107_entradasPalets_areaFlechas{width:100%;height:40px;float:left;position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden}

.bloqueEntradaPalet{align-items:center;width:96%;height:45px;border:1px solid black;margin-bottom:3px
;margin-left:2px;padding:3px
;overflow:hidden;cursor:pointer;}

#pda_p107_imagenBarcode {
    float: left;
    vertical-align: middle;
    width: 10%;
}

#pda_p107_matriculaPalets{
    float: left;
    width: 55%;
    margin-left: 10px;
}
#pda_p107_plataformaPalets{
    float: left;
    width: 55%;
    margin-left: 10px;
}
#pda_p107_frecepcionPalets{
    width: 80%;
	position: relative;
    left: 10px;
}

#bloqueFlechas{float:left;width:100%;}
#numeroPagina{height:35px;font-weight:bold;padding-top:4px;font-size:12px;margin-left: 10px;
  margin-right: 10px;}
.paginacion{float:left;padding-left:5px;/*width:25%*/}
.mens_error{font:10px Verdana,Arial,Tahoma,Helvetica,sans-serif;color:red;text-align:center;}
