.etiquetaCampoNegrita { text-align: right; margin-right: 1px; vertical-align: middle; font-weight:bold;}
.etiquetaEnlaceDeshabilitado{text-align:right;vertical-align:top;font-weight:bold;font-size:10px;}
.boton{display:inline-block;position:relative;background:#e2e2e2;padding:2px 2px;font:normal 1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
#marco{background-color:white;height:313px;width:238px;position:absolute;margin:auto;border:1px solid white;font:normal Verdana, Arial, Tahoma, Helvetica, sans-serif;color:#000000;}
#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;}
td{padding:3px;}
#pda_p114_prehuecosSelOperativa_titulo{float:left;text-align:center;margin-bottom:10px;width:98%;}
#pda_p114_prehuecosSelOperativa_bloque1{float:left;margin-top:40px;margin-left:3px;width:98%;text-align:center;}
#pda_p114_prehuecosSelOperativa_bloque2{float:left;margin-top:10px;margin-left:20px;}
#pda_p114_prehuecosSelOperativa_bloque3{float:left;margin-top:10px;margin-left:20px;}
#pda_p114_filterButtons{float:left;text-align:center;width:98%; margin-top:70px;}
#pda_p114_operativaDesdeCeroEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit;}
#pda_p114_continuarEnlace{color:#0000FF;cursor:pointer;text-decoration:underline;font-size:inherit;}