#contenidoPagina{background-color:white;position:relative;left:0px;top:54px;height:255px;width:99%;overflow: hidden;}
#pda_p116_stockAlmacen_contenido{float:left;height:200px;width:98%}
#pda_p116_stockAlmacen_tituloComun{text-align:center;width:100%;height: 20px;}
#pda_p116_stockAlmacen_fecha{width:100%;float:left;}
#fechaInfo{width:55%;float:left;text-align:right;font-weight: bold}
#fechaDatos{width:45%;float:left;text-align:left;font-weight: bold}
#pda_p116_stockAlmacen_tituloLista{text-align:center;width:100%;height:15px;}
#pda_p116_stockAlmacen_descripcionTabla{width:61%;float:left;text-align:center;font-weight: bold}
#pda_p116_stockAlmacen_stockTabla{width:35%;float:left;text-align:left;font-weight: bold}
#pda_p116_stockAlmacen_resultado{text-align:center;width:100%;height:15px;}
#pda_p116_stockAlmacen_codigoArticulo{width:55%;float:left;text-align:left;}
#pda_p116_stockAlmacen_stock{width:28%;float:left;text-align:center;}
#pda_p116_stockAlmacen_estado{width:12%;float:left;text-align:center;padding-top: 2px;}
#pda_p116_stockAlmacen_resultadoDescripcion{text-align:left;width:100%;height:23px;overflow: hidden;padding-left: 5px;}
#pda_p116_stockAlmacen_areaFlechas{width:100%;height:40px;float:left;}
#bloqueFlechas{float:left;width:100%;}
.paginacion{float:left;padding-left:5px;}
#numeroPagina{height:35px;font-weight:bold;padding-top:4px;font-size:12px;}
#pda_p116_noHayReferenciasError{text-align:center;width:100%;height:15px;vertical-align:middle;padding-top: 60px;}
.etiquetaStockLineal { text-align: right; margin-right: 1px; vertical-align: middle; font-weight:bold;color: red;}